<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <!-- <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8"> -->
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <!-- <script type="text/javascript" src="../../carousel.js"></script> -->
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <button type="button" ng-click="setDisplayYear(-1)" name="button">-</button>
    {{displayYear}}
    <button type="button" ng-click="setDisplayYear(+1)" name="button">+</button>

    <button type="button" ng-click="setDisplayMonth(-1)" name="button">-</button>
    {{displayMonth}}
    <button type="button" ng-click="setDisplayMonth(+1)" name="button">+</button>

      <div class="parent">
        <span class="dayShort center">M</span>
        <span class="dayShort center">T</span>
        <span class="dayShort center">W</span>
        <span class="dayShort center">T</span>
        <span class="dayShort center">F</span>
        <span class="dayShort center">S</span>
        <span class="dayShort center">S</span>

        <div class="tile center pointer" ng-click="selectDay(calendar);" ng-class="{'day':calendar.dayName,'event':calendar.events.length>0}" ng-repeat="calendar in cal[displayMonth]">
          </br>
          <h3>{{calendar.day}}</h3>
        </div>
      </div>
      <div class="card" ng-if="selectedDay">
        <h3>{{selectedDay.dayName}}</h3>
        <span>{{selectedDay.day}}/{{selectedDay.month}}/{{selectedDay.year}}</span>
        <div ng-repeat="event in selectedDay.events">
          <h2>{{event.title}}</h2>
          <p>{{event.desc}}</p>
        </div>
      </div>

  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
