      @layer vars, base, content, effect;

      @layer effect {
        :root {
          --radius: 43;
          --frost: 0.7;
          --saturation: 2;
        }

        .effects-container {
          top: 15%;
          left: 30%;
          right: 30%;
          position: fixed;
        }

        .effect {
          padding: 1rem 2rem;
          height: calc(auto * 1px);
          width: calc(auto * 1px);
          border-radius: calc(var(--radius) * 1px);
          z-index: 999999;
          background: light-dark(
            hsl(0 0% 100% / var(--frost, 0)),
            hsl(0 0% 0% / var(--frost, 0))
          );
          box-shadow:
            0 0 2px 1px
              light-dark(
                color-mix(in oklch, canvasText, #0000 85%),
                color-mix(in oklch, canvasText, #0000 65%)
              )
              inset,
            0 0 10px 4px
              light-dark(
                color-mix(in oklch, canvasText, #0000 90%),
                color-mix(in oklch, canvasText, #0000 85%)
              )
              inset,
            0px 4px 16px rgba(17, 17, 26, 0.05),
            0px 8px 24px rgba(17, 17, 26, 0.05),
            0px 0 8px rgba(17, 17, 26, 0.05),
            0px 8px 24px rgba(17, 17, 26, 0.2),
            0px 16px 56px rgba(17, 17, 26, 0.05),
            0px 4px 16px rgba(17, 17, 26, 0.05) inset,
            0px 8px 24px rgba(17, 17, 26, 0.05) inset,
            0px 16px 56px rgba(17, 17, 26, 0.05) inset;

          * {
            pointer-events: none;
          }
        }

        .effect {
          -webkit-backdrop-filter: url(#filter) saturate(var(--saturation, 1));
          backdrop-filter: url(#filter) saturate(var(--saturation, 1));
        }

        .filter {
          width: 100%;
          height: 100%;
          pointer-events: none;
          position: absolute;
          inset: 0;
        }
      }

      @layer base {
        body {
          min-height: 100vh;
        }

        .link {
          position: absolute;
          top: 20px;
          left: 20px;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          height: auto;

          > svg {
            width: 60px;
            height: auto;
            fill: black;
          }
        }
      }