:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*Quick start body*/
@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.svg#svgFontName') format('svg');
}

body{
  margin: 0;
  background: #EFC297;
  background: linear-gradient(to right, #EFC297 0%, #EFC297 25%, #653240 25%, #653240 100%);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #231E26;
}

.align{
  display: flex;
  align-items: center;
}
.sb{
  justify-content: space-between;
}

.frame{
  border: 4px solid transparent;
  padding: 4px;
  border-image:linear-gradient(to bottom, #EFC297 0%, #F6A180 100%) 1% round;
  min-height: 66vh;
  color: #EFC297;
}
.frame:hover{
  background: #EFC297;
  color: #231E26;
  border-image:linear-gradient(to bottom, #F6A180 0%, #EFC297 100%) 1% round;
}
.frame button{
  background:#F6A180;
  padding: var(--spacer);
  width: 75%;
  margin: 0 auto;
  margin-top: 2em;
  border: none;
  border-radius: 2em;
  outline: none;
  cursor: pointer;
  box-shadow: var(--level2);
}
.frame:hover button{
  background:#36202A;
  color: #EFC297;
}
.frame svg{
  margin-top: 2em;
  width: 48px;
  height: 48px;
}
.frame h5{
  color: #231E26;
  opacity: 0.6;
}
.frame p{
  margin-top: 5em;
  line-height: 2em;
  font-size: 12px;
}

.brand{
  font-family: 'Aguafina Script', cursive;
  font-size: 24px;
  margin-left: 1em;
}

.header{
  font-size: 4em;
}

.center{
  text-align: center;
}

.pad{
  padding: var(--spacer);
}

.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  body{
      background: linear-gradient(to bottom, #EFC297 0%, #EFC297 33%, #653240 33%, #653240 100%);
  }
  .frame{
    background: #653240;
  }
}

.card {
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.60), 0px 6px 10px rgba(0,0,0,0.23);
  transition: var(--animation);
  margin-top: 3%;
  background: rgba(255, 255, 255, 0.02);
}


.links{
  word-spacing: 1em;
  padding-right: 1em;
}
.links button{
  color: #EFC297;
  border: none;
  background: #36202A;
  padding: 0.5em 1em;
  cursor: pointer;
}
