<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="map-wrap">
      <div class="square" ng-repeat="square in map" ng-click="moveRight(square)" ng-class="{'pl': containsSymbol(square.icon,'🚹'), 'wall': containsSymbol(square.icon, '🔳')}"></div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
