<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="map-wrap">
      <div ng-style="square.sprite" class="square" ng-repeat="square in map" ng-keypress="myFunct($event, square)" ng-model="square" ng-class="{
      'pl': containsSymbol(square.icon,'🚹'),
      'reflect': containsSymbol(square.icon,'🚹') && containsSymbol(map[square.id + 32].icon,'🚾'),
      'up': containsSymbol(square.icon,'🚹') && facing === 'up',
      'left': containsSymbol(square.icon,'🚹') && facing === 'left',
      'right': containsSymbol(square.icon,'🚹') && facing === 'right',
      'down': containsSymbol(square.icon,'🚹') && facing === 'down',
      'water': containsSymbol(square.icon,'🚾'),
      'road': containsSymbol(square.icon,'✴️'),
      'poi': containsSymbol(square.icon,'🚼'),
      'grass2': containsSymbol(square.icon,'🆚'),
      'tree': containsSymbol(square.icon,'⏫'),
      'bumpL': containsSymbol(square.icon,'⬅️'),
      'bumpCL': containsSymbol(square.icon,'↙️'),
      'bumpD': containsSymbol(square.icon,'⬇️'),
      'bumpCR': containsSymbol(square.icon,'↘️'),
      'bumpR': containsSymbol(square.icon,'➡️'),
      'fence': containsSymbol(square.icon,'✝️'),
      'wall': containsSymbol(square.icon, '🔳'),
      }">
      </div>
      <div class="dialog" ng-if="modal">
        It´s a sign. But you can´t read it.
        <!-- 30char per line, 2 lines -->
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
