<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="map-wrap">
      <div ng-style="square.sprite" class="square" ng-repeat="square in map" ng-keypress="myFunct($event, square)" ng-model="square" ng-class="{
      'pl': containsSymbol(square.icon,'🚹'),
      'water': containsSymbol(square.icon,'🚾'),
      'road': containsSymbol(square.icon,'✴️'),
      'poi': containsSymbol(square.icon,'🚼'),
      'reflect': containsSymbol(square.icon,'🚹') && containsSymbol(map[square.id + 32].icon,'🚾'),
      'wall': containsSymbol(square.icon, '🔳'),
      }">
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
