:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'VT323', monospace;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 0;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}

.square{
  width: 16px;
  height: 16px;
  position: relative;
  background: url('img/grass.png');
  background-size: contain;
  display: inline-flex;
  /* outline: 1px solid lime; */
  font-size: 0;
}
.map-wrap{
  margin: 0 auto;
  width: 512px;
  height: 512px;
  position: relative;
  background-color: #ceffce;
}

.pl{
  background: url('img/down.png') center center no-repeat;
  background-size: contain;
  z-index: 100;
  transition: 0.05s transform ease;
}
.down{
  background: url('img/down.png') center center no-repeat;
  background-size: contain;
}
.downOffset{
  background: url('img/downStep.png') center center no-repeat;
  transform: translateY(8px);
  background-size: contain;
}
.left{
  background: url('img/left.png') center center no-repeat;
  background-size: contain;
}
.leftOffset{
  background: url('img/leftStep.png') center center no-repeat;
  transform: translateX(-8px);
  background-size: contain;
}
.right{
  background: url('img/right.png') center center no-repeat;
  background-size: contain;
}
.rightOffset{
  background: url('img/rightStep.png') center center no-repeat;
  transform: translateX(8px);
  background-size: contain;
}
.up{
  background: url('img/up.png') center center no-repeat;
  background-size: contain;
}
.upOffset{
  background: url('img/upStep.png') center center no-repeat;
  transform: translateY(-8px);
  background-size: contain;
}
.jump{
  background: url('img/jump.png') center center no-repeat;
  transform: translateY(16px) scale(2);
  background-size: contain;
}
.bumpL{
  background: url('img/bumpL.png') center center no-repeat;
  background-size: contain;
}
.bumpCL{
  background: url('img/bumpCL.png') center center no-repeat;
  background-size: contain;
}
.bumpD{
  background: url('img/bumpD.png') center center no-repeat;
  background-size: contain;
}
.bumpCR{
  background: url('img/bumpCR.png') center center no-repeat;
  background-size: contain;
}
.bumpR{
  background: url('img/bumpR.png') center center no-repeat;
  background-size: contain;
}
.bumpL{
  background: url('img/bumpL.png') center center no-repeat;
  background-size: contain;
}
.tree{
  background: url('img/bush.png');
}
.grass2{
  background: url('img/grassT.png');
}
.wall{
  background: transparent;
}
.road{
  background: url('img/road.png');
}
.fence{
  background: url('img/fen.png');
}
.water{
  background: url('img/wtr.png');
}
.reflect::after{
  background-size: cover;
  content: "";
  background: inherit;
  opacity: 0.3;
  transform: rotateX(180deg);
  z-index: 10;
  position: absolute;
  top: 16px;
  width: 16px;
  height: 16px;
  left: 0;
  right: 0;
}
.poi{
  background: url('img/sign.png');
}
.dialog{
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  color: black;
  z-index: 100;
  font-size: 40px;
  font-weight: lighter;
  border:3px outset black;
  padding: 5px;
  background: white;
  height: 80px;
  line-height: 40px;
}
/* ng-animate */
/* .fade{
  transition:0.5s linear opacity;
}
.fade.ng-hide {
  opacity:0;
} */

/*flex*/
/*.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
}*/

/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

/*Card*/
/*.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
}

/*Fab*/
/*.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
}*/

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*random image + background*/
/*
background: url(https://picsum.photos/1400/1400/?random) no-repeat center center fixed;
background-size: cover;
*/
