<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../angular-animate.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <!-- <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div> -->
  <div ng-controller="mainCtrl">
    <div class="row">
      <div class="flex">
        <div ng-repeat="card in activeCard">

          <div class="title" ng-class="{'title-enter':candraw === false}">
            <h4 class="center">{{card.Name}}</h4>
            <i>{{card.Desc}}</i>
          </div>

          <div class="" style="position:fixed; bottom:15vh;left:1rem;right:1rem;">
            <div style="background:#1B1B1D;color:#848B7B;" class="pointer center border" ng-class="{'not-possible':ability.Possible === false, 'card-enter':candraw === false}" ng-repeat="ability in card.Abilities" ng-click="activate(card, ability)">
              <span ng-if="ability.Name === 'pay'">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#848B7B" d="M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10M8,17L12,21.5L16,17H8Z" />
                </svg>
              </span>

              <span ng-if="ability.Name === 'convert'">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#848B7B" d="M12,2.5L8,7H16L12,2.5M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10M8,17L12,21.5L16,17H8Z" />
                </svg>
              </span>

              <span ng-if="ability.Name === 'gain'">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#848B7B" d="M12,2.5L8,7H16L12,2.5M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10Z" />
                </svg>
              </span>

              <span ng-if="ability.Name === 'discard'">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#848B7B" d="M13,3A9,9 0 0,0 4,12H1L4.89,15.89L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3Z" />
                </svg>
              </span>

              <span ng-if="ability.Name === 'event'">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#848B7B" d="M21.5,10.8L13.2,2.5C12.5,1.8 11.5,1.8 10.8,2.5L2.5,10.8C1.8,11.5 1.8,12.5 2.5,13.2L10.8,21.5C11.5,22.2 12.5,22.2 13.2,21.5L21.5,13.2C22.1,12.5 22.1,11.5 21.5,10.8M12.5,17H11V15.5H12.5V17M14.3,11.8C13.9,12.3 13.2,12.6 12.9,13.1C12.6,13.5 12.6,14 12.6,14.5H11C11,13.7 11,13 11.3,12.5C11.6,12 12.3,11.7 12.7,11.4C13.9,10.3 13.6,8.7 11.9,8.6C11.1,8.6 10.4,9.3 10.4,10.1H9C9,8.4 10.3,7.1 12,7.1C14.7,7.1 15.9,9.8 14.3,11.8Z" />
                </svg>
              </span>

              <span ng-if="ability.Name === 'concede'">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#848B7B" d="M12,2A9,9 0 0,0 3,11C3,14.03 4.53,16.82 7,18.47V22H9V19H11V22H13V19H15V22H17V18.46C19.47,16.81 21,14 21,11A9,9 0 0,0 12,2M8,11A2,2 0 0,1 10,13A2,2 0 0,1 8,15A2,2 0 0,1 6,13A2,2 0 0,1 8,11M16,11A2,2 0 0,1 18,13A2,2 0 0,1 16,15A2,2 0 0,1 14,13A2,2 0 0,1 16,11M12,14L13.5,17H10.5L12,14Z" />
                </svg>
              </span>

              <br>
                <i>{{ability.Text}}</i>
                <br>
                <br>
                <span style="color:white;">
                  <span ng-if="ability.Amount">
                    <span ng-if="ability.Name == 'gain'">+</span>
                    <span ng-if="ability.Name == 'pay' || ability.Name == 'convert'">-</span>
                    {{ability.Amount}} {{ability.Type}} <br>
                  </span>
                  <span ng-if="ability.ForAmount">
                    + {{ability.ForAmount}} {{ability.ForType}} <br>
                  </span>
                  <span ng-if="ability.Insert">
                    [Insert "{{ability.Insert}}"] <br>
                  </span>
                </span>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="center pull card pointer border" ng-class="{'can-draw':candraw === false, 'flip':candraw === true}" ng-click="pickTopCard(true)"></div>
    <div class="stats align jsb">
      <p ng-class="{'danger':hearts>14}">H: {{hearts}}</p>
      <p ng-class="{'danger':clubs>14}">C: {{clubs}}</p>
      <p ng-class="{'danger':diamonds>14}">D: {{diamonds}}</p>
      <p ng-class="{'danger':spades>14}">S: {{spades}}</p>
      <p ng-class="{'danger':joker>14}">J: {{joker}}</p>
    </div>

  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
