<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../angular-animate.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="row">
      <div class="flex">
        <!-- <h3>discard</h3>
        <button type="button" ng-click="discardPile = shuffle(discardPile)" name="button">shuffle this</button>
        <button type="button" ng-click="reload()" name="button">shuffle this into hand</button>
        <div ng-repeat="card in discardPile">
          {{card}}
        </div>
        <hr>
        <h3>currentDeck</h3>
        <button type="button" ng-click="currentDeck = shuffle(currentDeck)" name="button">shuffle this</button>
        <div ng-repeat="card in currentDeck">
          {{card}}
          <button type="button" ng-click="discard(card.Name, currentDeck)" name="button">discard this</button>
        </div>
        <hr> -->
        <div ng-repeat="card in activeCard">

          <div class="center title" ng-class="{'title-enter':candraw === false}">
            <h4>{{card.Name}}</h4>
            <i>"{{card.Desc}}"</i>
          </div>

          <div class="align jc" style="position:fixed;left:0;right:0;bottom:20vh;">
            <div class="pointer card center border" ng-class="{'not-possible':ability.Possible === false, 'card-enter':candraw === false}" ng-repeat="ability in card.Abilities" ng-click="activate(card, ability)">
              <span ng-if="ability.Name === 'pay'">
                <i>{{ability.Text}}</i>
                <hr>
                - {{ability.Amount}} {{ability.Type}}
              </span>
              <span ng-if="ability.Name === 'convert'">
                <i>{{ability.Text}}</i>
                <hr>
                - {{ability.Amount}} {{ability.Type}} <br>
                + {{ability.ForAmount}} {{ability.ForType}}
              </span>
              <span ng-if="ability.Name === 'gain'">
                <i>{{ability.Text}}</i>
                <hr>
                + {{ability.Amount}} {{ability.Type}}
              </span>
              <span ng-if="ability.Name === 'discard' || ability.Name === 'concede'">
                <i>{{ability.Text}}</i>
              </span>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="center pull card pointer border" ng-class="{'can-draw':candraw === false, 'flip':candraw === true}" ng-click="pickTopCard(true)"></div>
    <div class="stats align jsb">
      <p ng-class="{'danger':hearts>7}">H: {{hearts}}</p>
      <p ng-class="{'danger':clubs>7}">C: {{clubs}}</p>
      <p ng-class="{'danger':diamonds>7}">D: {{diamonds}}</p>
      <p ng-class="{'danger':spades>7}">S: {{spades}}</p>
      <p ng-class="{'danger':joker>7}">J: {{joker}}</p>
    </div>

  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
