:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

html{
  height: 100vh;
}
body{
  font-family: 'Raleway', sans-serif;
  /* font-size: calc(12px + (24 - 18)*(100vw - 600px)/(1200 - 600)); */
  font-size: 14px;
  overflow: hidden;
  color: black;
}

/*Card*/
.card {
  background: red;
}
.drawn{
  display: none;
}
.draw{
  position: absolute;
  bottom: 90px;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.card:nth-child(1){
  animation-delay: 1.5s!important;
}
.card:nth-child(2){
  z-index: 10;
  animation-delay: 1.7s!important;
}
.card:nth-child(3){
  animation-delay: 1.9s!important;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.jc{
  justify-content: center;
}
.pointer{
  cursor: pointer;
}
/* ng-animate */
/* .fade{
  transition:0.5s linear opacity;
}
.fade.ng-hide {
  opacity:0;
} */
.front{
  outline: 2px solid red;
}

ul[rn-carousel] > li{
  width: auto!important;
}

.ability-wrap{
  background: #ceaf78;
  color: #333!important;
  height: 400px;
  text-align: center;
  border: 0.5rem solid #111;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.not-possible{
  color:red!important;
  opacity: 0.8;
  filter: grayscale(100);
}

.swipe-wrap{
  position: fixed!important;
  bottom:0;
  left: 0;
  right: 0;
  min-height: 45vh;
}
.swipe-wrap:before, .swipe-wrap::after{
  position: absolute;
  top: 50%;
  color: #fff;
  z-index: 100;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.swipe-wrap:before{
  left: 5px;
  content: "<";
}
.swipe-wrap:after{
  right: 5px;
  content: ">";
}
button{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  outline: none;
  border: 3px outset #333;
  background: #444;
  padding: 0.5rem;
  color: #e0e0e0;
}

 #tv {
   line-height: 85px;
   top: -10%;
   overflow: hidden;
   position: relative;
   width: 75%;
   height: 70px;
   margin: 0 auto;
   background: #222;
   border-radius: 50% / 10%;
   color: white;
   text-align: center;
   text-indent: .1em;
 }
 #tv:before {
   content: '';
   position: absolute;
   top: 10%;
   bottom: 10%;
   right: -5%;
   left: -5%;
   z-index: -1;
   background: inherit;
   border-radius: 5% / 50%;
 }

/*flex*/
.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }

}

.stats{
  background: black;
  color: white;
  padding: var(--spacer);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.pull{
  width: 10px;
  height: 10px;
  background: green
}

.can-draw {
  border:1px solid magenta;
}

.card-enter{

}

.title-enter{

}

.danger{
  color: red;
}


/*Fab*/
/*.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
}*/

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*background*/
/*
background: url(http://lorempixum.com/1440/900/sports) no-repeat center center fixed;
background-size: cover;
*/
