<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <!-- <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8"> -->
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <!-- <script type="text/javascript" src="../../carousel.js"></script> -->
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div ng-controller="mainCtrl">
    <!-- img src="img/back.png" class="back" alt="">

    <!-- HUD -->
    <div class="ranks" ng-if="currentArgument">
      <div class="panel">
        <span class="pointer" ng-click="setCurrentArgument('CC')">
          <span class="bullet" ng-if="currentArgument.faction === 'CC'">🔹</span>
          {{factions.CC}} : Clocktoria
        </span>
        </br>
        </br>
        <span class="pointer" ng-click="setCurrentArgument('AA')">
          <span class="bullet" ng-if="currentArgument.faction === 'AA'">🔹</span>
          {{factions.AA}} : Abrams
        </span>
        </br>
        </br>
        <span class="pointer" ng-click="setCurrentArgument('BB')">
          <span class="bullet" ng-if="currentArgument.faction === 'BB'">🔹</span>
          {{factions.BB}} : Bella
        </span>
        </br>
        </br>
        <span class="pointer" ng-click="setCurrentArgument('DD')">
          <span class="bullet" ng-if="currentArgument.faction === 'DD'">🔹</span>
          {{factions.DD}} : Dack
        </span>
        </br>
        </br>
        <span class="pointer" ng-click="setCurrentArgument('EE')">
          <span class="bullet" ng-if="currentArgument.faction === 'EE'">🔹</span>
          {{factions.EE}} : Enoch
        </span>
      </div>
    </div>

    <div ng-cloak class="argument-header align jsb">
      <div class="spacerBtn">
        <div class="panel pointer" ng-if="currentArgument !== null && currentDebate.result === null"
          ng-click="resetCurrentSpeaker()">
          ↩ <br />
          Back
        </div>
      </div>

      <div>
        <h2 style="margin-bottom: 5px;"><i>{{currentDebate.id}}</i></h2>
        <span ng-if="currentDebate.pitch.pitched">
          <span ng-if="currentDebate.result === false">❌</span>
          <span ng-if="currentDebate.result === true">⭕</span>
          {{currentDebate.pitch.summary}}
        </span>
        <br />
        <br />
        <div class="ca" ng-if="currentDebate.pitch.pitched && currentDebate.result === null">
          <button type="button" class="panel pointer" ng-click="approve()">
            YES
          </button>
          &nbsp;
          &nbsp;
          &nbsp;
          <button type="button" class="panel pointer" ng-click="reject()">
            NO
          </button>
        </div>
        <br />
        <br />
      </div>

      <div class="spacerBtn">
        <div class="panel pointer" ng-if="currentDebate.pitch.pitched === false"
          ng-click="currentDebate.pitch.pitched = true">
          ↪ <br />
          Proceed
        </div>
        <div class="panel pointer" ng-if="currentDebate.result !== null && debates.length > 0"
          ng-click="startNextDebate()">
          ↪ <br />
          Proceed
        </div>
      </div>
    </div>
    <!-- END HUD -->


    <!-- New Pitch view -->
    <div ng-if="currentDebate.pitch.pitched === false" class="align wrap bg">
      <div class="relative">
        <img ng-if="currentDebate.pitch.faction === 'CC'" class="pitcher" src="img/CC.png" alt="">
        <img ng-if="currentDebate.pitch.faction === 'AA'" class="pitcher" src="img/AA.png" alt="">
        <img ng-if="currentDebate.pitch.faction === 'BB'" class="pitcher" src="img/BB.png" alt="">
        <img ng-if="currentDebate.pitch.faction === 'DD'" class="pitcher" src="img/DD.png" alt="">
        <img ng-if="currentDebate.pitch.faction === 'EE'" class="pitcher" src="img/EE.png" alt="">

        <p class="nameplate" ng-if="currentDebate.pitch.faction === 'CC'">Clocktoria III <br /><small>Head doctor at the Gearspring hospital</small></p>
        <p class="nameplate" ng-if="currentDebate.pitch.faction === 'AA'">Abrams Stovevalve <br /><small>CEO of Stovevale industries LLC</small></p>
        <p class="nameplate" ng-if="currentDebate.pitch.faction === 'BB'">Bella MacGuffin <br /><small>Head scientist at the Sprocket science center</small></p>
        <p class="nameplate" ng-if="currentDebate.pitch.faction === 'DD'">Dack Rowley <br /><small>Honored fellow of the adventurers guild</small></p>
        <p class="nameplate" ng-if="currentDebate.pitch.faction === 'EE'">Enoch Diptych <br /><small>Lord master of tradition and cermony</small></p>

      </div>

      <div class="talkbox">
        {{currentDebate.pitch.desc}}
      </div>
    </div>
    <!-- END New Pitch view-->



    <!-- Hearing view -->
    <div ng-if="currentDebate.pitch.pitched && currentArgument === null">
      <div ng-if="currentDebate.pitch.pitched && currentArgument === null" class="hearing align jsb">

        <span class="center pointer" ng-click="setCurrentArgument('CC')"
          ng-class="{'speaker': currentSpeaker === 'CC'}">
          <img class="framed-portrait" src="img/CC.png" alt="">
          <p>Clocktoria III</p>
          <p>{{factions.CC}}</p>
        </span>
        <span class="center pointer" ng-click="setCurrentArgument('AA')"
          ng-class="{'speaker': currentSpeaker === 'AA'}">
          <img class="framed-portrait" src="img/AA.png" alt="">
          <p>Abrams Stovevalve</p>
          <p>{{factions.AA}}</p>
        </span>
        <span class="center pointer" ng-click="setCurrentArgument('BB')"
          ng-class="{'speaker': currentSpeaker === 'BB'}">
          <img class="framed-portrait" src="img/BB.png" alt="">
          <p>Bella MacGuffin</p>
          <p>{{factions.BB}}</p>
        </span>
        <span class="center pointer" ng-click="setCurrentArgument('DD')"
          ng-class="{'speaker': currentSpeaker === 'DD'}">
          <img class="framed-portrait" src="img/DD.png" alt="">
          <p>Dack Rowley</p>
          <p>{{factions.DD}}</p>
        </span>
        <span class="center pointer" ng-click="setCurrentArgument('EE')"
          ng-class="{'speaker': currentSpeaker === 'EE'}">
          <img class="framed-portrait" src="img/EE.png" alt="">
          <p>Enoch Diptych</p>
          <p>{{factions.EE}}</p>
        </span>
      </div>
    </div>
    <!-- END Hearing view -->



    <!-- Argument view -->
    <div class="align wrap bg {{currentSpeaker}}" ng-if="
      (currentArgument !== null && currentDebate.result === null) ||
      (currentArgument !== null && currentDebate.result !== null)
      ">
      <div class="relative">
        <img ng-if="currentArgument.faction === 'CC'" class="pitcher" src="img/CC.png" alt="">
        <img ng-if="currentArgument.faction === 'AA'" class="pitcher" src="img/AA.png" alt="">
        <img ng-if="currentArgument.faction === 'BB'" class="pitcher" src="img/BB.png" alt="">
        <img ng-if="currentArgument.faction === 'DD'" class="pitcher" src="img/DD.png" alt="">
        <img ng-if="currentArgument.faction === 'EE'" class="pitcher" src="img/EE.png" alt="">

        <p class="nameplate" ng-if="currentArgument.faction === 'CC'">Clocktoria III <br /><small>Head doctor at the Gearspring hospital</small></p>
        <p class="nameplate" ng-if="currentArgument.faction === 'AA'">Abrams Stovevalve <br /><small>CEO of Stovevale industries LLC</small></p>
        <p class="nameplate" ng-if="currentArgument.faction === 'BB'">Bella MacGuffin <br /><small>Head scientist at the Sprocket science center</small></p>
        <p class="nameplate" ng-if="currentArgument.faction === 'DD'">Dack Rowley <br /><small>Honored fellow of the adventurers guild</small></p>
        <p class="nameplate" ng-if="currentArgument.faction === 'EE'">Enoch Diptych <br /><small>Lord master of tradition and cermony</small></p>
      </div>

      <div class="talkbox" ng-if="currentArgument !== null && currentDebate.result === null">
        {{currentArgument.desc}}
      </div>

      <div class="talkbox"
        ng-if="(currentArgument !== null && currentDebate.result !== null) && currentDebate.result === true">
        {{currentArgument.descApproved}}
      </div>

      <div class="talkbox"
        ng-if="((currentArgument !== null && currentDebate.result !== null)) && currentDebate.result === false">
        {{currentArgument.descRejected}}
      </div>

    </div>
    <!-- END Argument view -->

    <!-- Consequences view -->
    <div ng-cloak ng-show="currentConsequences.length > 0">
      <div class="conBack">
        <div class="consequenceView" ng-if="con === currentConsequences[0]" ng-repeat="con in currentConsequences">
          <h2>{{con.title}}</h2>
          <p>{{con.desc}}</p>
          <button class="panel pointer" ng-click="acknowledgeConsequence(con)">Acknowledge</button>
          <img class="conImg" src="{{con.bg}}" alt="">
        </div>

      </div>
    </div>
    <!-- END Consequences view -->

  </div>
</body>

<script type="text/javascript" src="app.js"></script>

</html>