body {
  overflow: hidden;
  background: black;
  color: white;
  text-shadow: 0 0 8px black;
  margin: 0;
  padding: 0;
}

.panel {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.ranks {
  position: fixed;
  right: -8px;
  top: 38%;
  z-index: 10;
}

.argument-header {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.align {
  display: flex;
  align-items: center;
}

.jsb {
  justify-content: space-between;
}

.ca {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.back {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.pitcher {
  animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: relative;
  left: 0;
  bottom: -5px;
}

.framed-portrait {
  width: 140px;
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 0 0);
  transition: 0.5s all ease;
}
.pointer:hover > .framed-portrait {
  filter: drop-shadow(0 0.4rem 1rem rgba(255, 255, 255, 1));
}

.nameplate {
  animation: slide-in-left 0.2s 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-left: 1rem;
  bottom: 1rem;
  z-index: 10;
}

.talkbox {
  animation: slide-in-bottom 0.2s 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: relative;
  white-space: pre-line;
  background: rgba(0, 0, 0, 0.8);
  border-radius: .4em;
  padding: 1rem;
  padding-top: 0;
  left: -8rem;
  top: -2rem;
}

.talkbox:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 33px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
  border-left: 0;
  border-top: 0;
  margin-top: -16.5px;
  margin-left: -33px;
}

.bg {
  background-origin: center center;
  background-image: url('img/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 120%;
  transition: 1s background-position ease;
}

.bg.CC{
  background-position: -4rem 0;
}
.bg.AA{
  background-position: -3rem 0;
}
.bg.BB{
  background-position: -2rem 0;
}
.bg.DD{
  background-position: -1rem 0;
}
.bg.EE{
  background-position: 0rem 0;
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-15rem);
    transform: translateX(-15rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


@media only screen and (max-width: 780px) {
  .wrap {
    display: block;
  }

  .talkbox {
    left: 0;
    right: 0;
    top: unset;
    animation: unset;
  }

  .ranks{
    top: 30%;
  }

  .talkbox:after {
    border: none;
  }

  .framed-portrait {
    width: 80px;
    clip-path: circle(40%);
  }
}