body {
  overflow: hidden;
  background: tomato;
  color: white;
  text-shadow: 0 0 8px black;
  margin: 0;
  padding: 0;
}

.panel {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.ranks {
  position: fixed;
  left: -8px;
  top: 1rem;
  z-index: 10;
}

.decider {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.align{
  display: flex;
  align-items: center;
}

.jsb{
  justify-content: space-between;
}

.ca{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center{
  text-align: center;
}

.pitcher{
  position: relative;
  left: 0;
}