<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../angular-animate.min.js"></script>
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="menu" tabindex="0">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#fff" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
      </svg>
    </div>
    <div class="row">
      <div class="flex x3">
        <div class="nav-wrap">
          <nav class="align justify" style="padding:1rem;">
            <span class="align"> 
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
              </svg>
              &nbsp;
              Firstname Lastname
            </span>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24" ng-click="search = !search">
              <path fill="#000000" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
            </svg>
          </nav>
          <div ng-if="search" style="display:flex;">
            <input type="text" class="searchy" ng-model="searchText" ng-change="setSearchText(searchText);" placeholder="Search..." name="" value="">
          </div>
        </div>
        <h3 class="spacer">Achievements:</h3>
        <div class="fluid-row dense">
          <div class="fluid-flex panel align justify">
            <span class="align">
              <svg style="width:45px;height:45px" viewBox="0 0 24 24">
                  <path fill="#c8971b" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
              </svg>
              <b>Do the thing</b>
            </span>
            <small>Just now</small>
          </div>
          <div class="fluid-flex panel align justify">
            <span class="align">
              <svg style="width:45px;height:45px" viewBox="0 0 24 24">
                  <path fill="#c8971b" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
              </svg>
              <b>Do the thing</b>
            </span>
            <small>Today</small>
          </div>
          <div class="fluid-flex panel align justify">
            <span class="align">
              <svg style="width:45px;height:45px" viewBox="0 0 24 24">
                  <path fill="#c8971b" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
              </svg>
              <b>Do the thing</b>
            </span>
            <small>1 day ago</small>
          </div>
          <div class="fluid-flex panel align justify">
            <span class="align">
              <svg style="width:45px;height:45px" viewBox="0 0 24 24">
                  <path fill="#c8971b" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
              </svg>
              <b>Do the thing</b>
            </span>
            <small>2 days ago</small>
          </div>
          <div class="fluid-flex panel-util align justify">
            <span class="align">
              <svg style="width:45px;height:45px" viewBox="0 0 24 24">
                <path fill="#e0e0e0" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" />
              </svg>
              <b>Show all achievements</b>
            </span>
          </div>
        </div>
        <h3 class="spacer">My top 5:</h3>
        <div class="fluid-row">
            <div class="fluid-flex" ng-repeat="item in items | filter:searchText">
              <div class="card">
                <b>{{item.title}}</b>
                <br>
                <small class="subtitle">{{item.subtitle}}</small>
                <p>{{item.desc}}</p>
                <img class="image" src="{{item.url}}" alt="">
              </div>
            </div>
            <div class="fluid-flex">
              <div class="card center" style="padding-right:1rem;">
                <svg style="width:45px;height:45px; margin-top:18%;" viewBox="0 0 24 24">
                  <path fill="#e0e0e0" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" />
                </svg>
                <br>
                <b>Show all characters</b>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
