<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="row">
      <div class="flex">
        <div class="phone-wrap scroll">

          <div ng-if="state === 'start'">
            <h2 class="padding header-fix">Popular</h2>
            <div class="row featured">
              <div class="flex card">
                <img src="{{featured.poster}}" class="featured-poster" alt="">
                <div class="card-content padding">
                  <h2 class="header-fix">{{featured.name}}</h2>
                  <small class="align space-between" style="padding: 0.5rem 0;">
                    <span> Next show at {{featured.time | date: "HH:MM"}} </span>
                    <span class="pull-right">Runtime: {{featured.playtimeH}} hour<span ng-if="featured.playtimeH > 1">s</span> {{featured.playtimeM}} minute<span ng-if="featured.playtimeM > 1">s</span></span>
                  </small>
                  <small class="endcap align space-between" style="padding: 0.5rem 0;">
                    <span>Critic rating: {{featured.rating}} </span>
                    <span class="pull-right">{{featured.seatsTaken}} seats left </span>
                  </small>
                  <p>{{featured.desc}}</p>
                  <button type="button" class="primary-btn" name="button" ng-click="setMovie(featured); goToState('booking');">Book</button>
                </div>
              </div>
            </div>

            <h3 class="padding header-fix play-header">
              <label for="location">Playing at:</label>
              <div class="selectdiv">
                <select id="location">
                  <option selected> My location</option>
                  <option>Cinema 1</option>
                  <option>Cinema 2</option>
                  <option>The big cinema down the road</option>
                </select>
              </div>
            </h3>
            <div class="row listings">
              <div class="flex card">
                <div class="align space-around list-row list-header endcap center" >
                  <p>Title</p>
                  <p>Time</p>
                  <p>Seats</p>
                </div>
                <div class="align space-around list-row endcap center" ng-repeat="movie in playing | orderBy: 'time'" ng-click="setMovie(movie); goToState('booking');">
                  <p>{{movie.name}}</p>
                  <p>{{movie.time | date: "HH:mm"}}</p>
                  <p>{{movie.seatsTaken}} / {{movie.seatsTotal}}</p>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="state === 'booking'">
            <div class="row featured">
              <div class="flex card">
                <div class="back">
                  <svg class="pointer" ng-click="goToState('start')" style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#333" d="M10,9V5L3,12L10,19V14.9C15,14.9 18.5,16.5 21,20C20,15 17,10 10,9Z" />
                  </svg>
                </div>

                <img src="{{selectedMovie.poster}}" class="featured-poster" alt="">
                <div class="card-content padding">
                  <h2 class="header-fix">{{selectedMovie.name}}</h2>
                  <small class="align space-between" style="padding: 0.5rem 0;">
                    <span> Next show at {{featured.time | date: "HH:MM"}} </span>
                    <span class="pull-right">Runtime: {{featured.playtimeH}} hour<span ng-if="featured.playtimeH > 1">s</span> {{featured.playtimeM}} minute<span ng-if="featured.playtimeM > 1">s</span></span>
                  </small>
                  <small class="endcap align space-between" style="padding: 0.5rem 0;">
                    <span>Critic rating: {{featured.rating}} </span>
                    <span class="pull-right">{{featured.seatsTaken}} seats left </span>
                  </small>
                  <p>{{selectedMovie.desc}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="flex card padding">
                <h3>Prefered seats</h3>
                <div class="theater-wrapper">
                  <div class="wrapper" ng-init="getNumber(selectedMovie.seatsTotal)">
                    <div class="seat" ng-click="seat.selected = !seat.selected; calcSeats(seat);" ng-class="{'selected-seat':seat.selected}" ng-repeat="seat in seatNum track by $index"></div>
                  </div>
                </div>
                <br></br>
                <div ng-if="numberOfTickets > 0">
                  <button type="button" class="primary-btn" name="button" ng-click="confirm(); goToState('checkout');">
                    Book {{numberOfTickets}}
                    ticket<span ng-if="numberOfTickets > 1">s</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="state === 'checkout'">
            <div class="back">
              <svg class="pointer" ng-click="goToState('booking'); resetTickets();" style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#333" d="M10,9V5L3,12L10,19V14.9C15,14.9 18.5,16.5 21,20C20,15 17,10 10,9Z" />
              </svg>
            </div>
            <img src="{{selectedMovie.poster}}" class="backdrop" alt="">
            <div  class="confirm-modal">
              <div class="row featured">
                <div class="flex card center" ng-class="{'done-card':booked}">
                  <div class="card-content padding">
                    <div ng-if="booked === null">
                      <h2 class="header-fix">Please confirm</h2>
                      <br></br>
                      {{numberOfTickets}} ticket<span ng-if="numberOfTickets > 1">s</span> for
                      <br></br>
                      <h3>{{selectedMovie.name}}</h3>
                      at {{selectedMovie.time | date: "HH:mm dd/MM/yy"}}
                      <br></br>
                      <br></br>
                    </div>
                    <button ng-if="booked === null && loading === null" type="button" class="primary-btn" name="button" ng-click="booking();">Confirm</button>

                    <div class="spinner" ng-if="loading || booked" ng-class="{'done': booked}">
                      <svg ng-if="booked" style="width:25px;height:50px" viewBox="0 0 24 24">
                        <path fill="#fff" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                      </svg>
                    </div>
                    <div ng-if="booked" style="color:#fff;">
                      <h2>Enjoy the movie</h2>
                      Your booking number is
                      <br></br>
                      <h3>12345678</h3>
                      <br></br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
