<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Portfolio and sandbox">
  <title>Rockman</title>
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="angularJs.js"></script>
    <script type="text/javascript" src="angular-animate.min.js"></script>
</head>
<body>
  <div ng-controller="mainCtrl">
    <img ng-cloak class="backdrop hide-on-phones" ng-src="{{selectedProject.Backdrop}}" alt="">
    <div class="row">
      <div class="flex"></div>
      <div class="flex x3 card">
        <div class="row relative">
          <div ng-cloak class="filterOverlay" ng-class="{'activeOverlay':activeTag}" ng-click="$event.stopPropagation()">
            <div class="row">
              <div class="flex padding">
                <strong class="filterHeader">
                  Similar to "{{activeTag}}"
                  <svg style="width:24px;height:24px; text-align:right;cursor:pointer;" viewBox="0 0 24 24" ng-click="clearFilter()">
                    <path fill="#000000" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                  </svg>
                </strong>
                <br/>
                <div class="nav-item padding" ng-repeat="project in filteredList" ng-click="pickFilteredItem(project)">
                  {{project.Title}}
                </div>
              </div>
            </div>
          </div>
          <div class="flex padding relative" ng-click="menuToggle = !menuToggle">
            <h1> 
              <svg class="show-inline-on-phones" style="width:24px;height:24px;display:none;" viewBox="0 0 24 24">
                <path fill="#000000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
              </svg>
              Rockman
            </h1>
            <div class="mobile-menu-closed" ng-repeat="project in projects" ng-click="setSelectedProject(project)" ng-class="{'mobile-menu': menuToggle}">
              <div class="nav-item padding" ng-class="{'active':isSelectedProject(project)}">
                {{project.Title}}
              </div>
              <!-- <img ng-cloak class="poster hide-on-phones" ng-if="isSelectedProject(project)" ng-src="{{project.Poster}}" alt=""> -->
              <hr style="opacity:0.2;" ng-if="project.Devider" />
            </div>
          </div>
          <div class="flex x3 content relative">
            <!-- <img class="backdrop-inner hide-on-phones" ng-src="{{selectedProject.Backdrop}}" alt=""> -->
            <nav class="flex-row project-actions padding">
              <div class="relative" ng-click="showMenu = !showMenu">
                <svg style="width:24px;height:24px;cursor:pointer;" class="noselect" viewBox="0 0 24 24">
                  <path fill="#fff" d="M17.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,9A1.5,1.5 0 0,1 19,10.5A1.5,1.5 0 0,1 17.5,12M14.5,8A1.5,1.5 0 0,1 13,6.5A1.5,1.5 0 0,1 14.5,5A1.5,1.5 0 0,1 16,6.5A1.5,1.5 0 0,1 14.5,8M9.5,8A1.5,1.5 0 0,1 8,6.5A1.5,1.5 0 0,1 9.5,5A1.5,1.5 0 0,1 11,6.5A1.5,1.5 0 0,1 9.5,8M6.5,12A1.5,1.5 0 0,1 5,10.5A1.5,1.5 0 0,1 6.5,9A1.5,1.5 0 0,1 8,10.5A1.5,1.5 0 0,1 6.5,12M12,3A9,9 0 0,0 3,12A9,9 0 0,0 12,21A1.5,1.5 0 0,0 13.5,19.5C13.5,19.11 13.35,18.76 13.11,18.5C12.88,18.23 12.73,17.88 12.73,17.5A1.5,1.5 0 0,1 14.23,16H16A5,5 0 0,0 21,11C21,6.58 16.97,3 12,3Z" />
                </svg>
                <span id="preload" style="background: url(https://i.imgur.com/bzup1Uu.jpg);"></span>
                <ul ng-if="showMenu" class="ThemeMenu" ng-cloak>
                  <li ng-click="updateTheme('dodgerblue')">Solid</li>
                  <li ng-click="updateTheme('url(https://i.imgur.com/bzup1Uu.jpg) center fixed')">Image</li>
                  <li ng-click="updateTheme('linear-gradient(to top left, #301C3F, #301C3F 20%, #462F5B 20%, #462F5B 40%, #633A72 40%, #633A72 60%, #8A4186 60%, #8A4186 80%, #bd2d38 80%, #FC3C4B 85%, #FC3C4B 85%)')">Gradient</li>
                </ul>
                <div class="animationIf theme-menu-backdrop" ng-if="showMenu" ng-click="showMenu = false;" ></div>
              </div>
              <div>
                <a href="./projects/editor/index.html" id="Resume">
                  <svg style="width:24px;height:24px;cursor:pointer;" class="noselect" viewBox="0 0 24 24" name="ResumeIcon" alt="ResumeIcon" id="resumeIcon">
                    <path fill="#fff" d="M2,3H22C23.05,3 24,3.95 24,5V19C24,20.05 23.05,21 22,21H2C0.95,21 0,20.05 0,19V5C0,3.95 0.95,3 2,3M14,6V7H22V6H14M14,8V9H21.5L22,9V8H14M14,10V11H21V10H14M8,13.91C6,13.91 2,15 2,17V18H14V17C14,15 10,13.91 8,13.91M8,6A3,3 0 0,0 5,9A3,3 0 0,0 8,12A3,3 0 0,0 11,9A3,3 0 0,0 8,6Z" />
                  </svg>
                </a>
              </div>
            </nav>
            <div class="project-article">
              <!-- <img ng-cloak class="poster show-on-phones" ng-src="{{selectedProject.PosterSmall}}" alt=""> -->
              <br />
              <h2 style="margin:0!important;">{{selectedProject.Title}}</h2>
              <br />
              <br />
              <small class="tag" ng-repeat="tag in selectedProject.Tags | orderBy:Title" ng-click="filterByTag(tag)">
                {{tag}}
              </small>
              <p>{{selectedProject.Desc}}</p>
              <br />
              <a ng-if="selectedProject.Url" class="link-primary padding" href="{{selectedProject.Url}}">Check it out</a>
            </div>
            <br />
          </div>
        </div>
      </div>
      <div class="flex"></div>
    </div>
  </div>
  <small class="footer">
    <a href="https://github.com/TheRockman" id="github1">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24" name="GitIcon" alt="GitIcon" id="gitIcon">
        <path fill="#fff" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
      </svg>
    </a>
    &nbsp; | &nbsp;
    <a href="https://se.linkedin.com/in/carl-rockman-8172b8129">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24" name="LiIcon" alt="LiIcon" id="liIcon">
      <path fill="#fff" d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z" />
  </svg>
    </a>
    &nbsp; | &nbsp;
    <a href="mailto:carl.rockman@outlook.com">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24" name="MailIcon" alt="MailIcon" id="mailliIcon">
          <path fill="#fff" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
      </svg>
    </a>
  </small>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
