:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;
  --primary: dodgerblue;
  --secondary: #333;

  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.svg#svgFontName') format('svg');
}

body{
  margin: 0;
  background: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #666;
}

h1, h2, h3, h4{
  font-weight: lighter;
  margin: 0 1rem;
  margin: 0 var(--spacer)!important;
}

.ThemeMenu{
  padding: 0;
  position: absolute;
  background: white;
  box-shadow: var(--level2);
  z-index: 101;
}
.ThemeMenu:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  position: absolute;
  top: -10px;
  left: 3px;
  border-color: transparent transparent white transparent;
}

.ThemeMenu > li{
      padding: 1rem;
  padding: var(--spacer);
  color: #666;
  height: auto;
  cursor: pointer;
  list-style: none;
}
.ThemeMenu > li:hover{
  background: rgba(0, 0, 0, 0.3);
}
.theme-menu-backdrop{
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.tag{
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  padding: 0.5rem 1rem;
  padding: 0.5rem var(--spacer);
  background: #333;
  background: var(--secondary);
}

.backdrop{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
  filter: brightness(50%) blur(20px);
}

.backdrop-inner{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: auto;
  pointer-events: none;
  height: 100%;
  background: #333;
  background: var(--secondary);
  opacity: 0.2;
}

.poster{
  transform-origin: center;
  transform: scale(0.7);
  position: absolute;
  right: -140px;
  z-index: 100;
  top: 15%;
  height: auto;
  width: 260px;
  min-height: 260px;
  filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.4));
}

.project-actions{
  background: rgba(0,0,0,0.2);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.project-article{
  margin-left: 150px;
  margin-top: 12%;
  margin-right: 12%;
}

.link-primary{
  background: #333;
  background: var(--secondary);
  text-decoration: none!important;
  color: white!important;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.content{
  background: dodgerblue;
  background: var(--primary);
  color: white;
  height: 600px;
}

.padding{
  padding: 1rem;
  padding: var(--spacer);
}

.filterOverlay{
  transform: translateY(-10%);
  position: absolute;
  width: 26%;
  left: 0;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 90;
  transition-delay: 0.2s;
  opacity: 0;
  pointer-events: none;
  transition: var(--animation);
}
.filterHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activeOverlay{
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.relative{
  position: relative;
}

.nav-item{
  cursor: pointer;
}

.active{
  color: var(--primary);
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.footer > a {
  color: white;
  text-decoration: none;
}

.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
}

.show-on-phones{
  display: none;
}

.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  margin: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
  margin-top: 8vh;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .poster {
    position: relative!important;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    transform: none;
  }
  .project-article{
    margin: 1rem;
    margin: var(--spacer)!important;
  }
  .hide-on-phones{
    display: none!important;
  }
  .show-on-phones{
    display: block!important;
  }
  .content{
    height: 80vh!important;
  }
  .card{
    margin: 0!important;
  }
  .mobile-menu-closed{
    height: 0;
    opacity: 0;
    transition: var(--animation);
  }
  .mobile-menu{
    opacity: 1;
    height: auto;
  }
  .footer{
    padding: 1rem;
    padding: var(--spacer);
    position: fixed;
    background: #333;
    justify-content: center;
  }
  .filterOverlay{
    width: 100%;
    right: 0;
  }
}
.pointer{
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
