:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;
  /*shadows*/
  --level1: 0.8px 1.6px 1.6px hsl(0deg 0% 0% / 0.48);
  --level2: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
  --level3: 2.4px 4.8px 4.8px hsl(0deg 0% 0% / 0.43);
  --level4: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
  --level5: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  --level6: 4.8px 9.6px 9.6px hsl(0deg 0% 0% / 0.35);
  --level7: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
  --level10: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

/* resets START */
*,*::before,*::after {box-sizing: border-box;}html:focus-within {scroll-behavior: smooth;}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {margin: 0;}body {text-rendering: optimizeSpeed;line-height: 1.5;}img{max-width: 100%;display: block;}input,button,textarea,select {font: inherit;}@media (prefers-reduced-motion: reduce) {html:focus-within {scroll-behavior: auto;}*,*::before,*::after {animation-duration: 0.01ms !important;animation-iteration-count: 1 !important;transition-duration: 0.01ms !important;scroll-behavior: auto !important;}}
/* resets END */

body{
  background: #222;
  overflow-y: auto; scrollbar-gutter: stable both-edges;
  font-family: 'Khula', sans-serif;
  font-size: 16px;
}
nav{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacer);
  box-shadow: var(--level1);
  background: white;
}
.pad{
  padding: var(--spacer);
}
.card{
  margin: var(--spacer);
  padding: var(--spacer);
  border-radius: 8px;
  background: white;
  transition: var(--animation);
  box-shadow: var(--level1);
}
.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}
.above-fold{
  height: 100vh;
  background: url('https://cdna.artstation.com/p/assets/images/images/006/817/664/large/pedro-augusto-untitled-12.jpg?1617185020') no-repeat top center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  z-index: 0;
  top: 0;
}
.quote{
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.8;
}
section{
  margin: 0 7rem;
  padding-top: 1rem;
  transition: var(--animation);
}
nav{
  position: absolute;
  left: 0
  top 0;
  bottom: 0;
  background-color:white;
}
ul{
  height: 100vh;
  padding: 0;
}
ul li{
  padding: 0.5rem 0;
  list-style: none;
  cursor: pointer;
  transition: var(--animation);
}
ul li:hover {
  transform: translateX(0.5rem);
}
.content {
  box-shadow: var(--level2);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  position: relative;
  z-index: 1;
  background-color: #fff;
  min-height: 1000px;
  padding: 2rem;
  margin: 0 6rem;
}
article {
  columns: 3;
  column-width: 300px;
}           
article p:first-of-type {
  margin-top: 0;
}
article > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.spacer{
  width: 75%;
}
.hero{
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
      0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
}
footer{
  position: relative;
  z-index: 1;
  background-color: #444;
  color: #cacaca;
  height: 150px;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 6rem;
  text-align: center;
}
h1{
  font-size: 6rem;
}
.contimg{
  width: auto;
  margin: 0 auto;
  margin-bottom: 2rem;
}
article p:first-of-type::first-letter {
  float: left;
  font-size: 60px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 2px;
  padding-left: 3px;
}
@media screen and (max-width: 1000px) {
  /* tab   */
  .spacer {
    display: none;
  }
  .content{
    margin-right:1rem;
  }
}
@media screen and (max-width: 768px) {
/* mobile   */
  .spacer {
    display: none;
  }
  .content, footer {
    margin: 0;
    border-radius: 0;
  }
  section{
    padding-top: 1rem;
    margin-right: 1rem;
    margin-left: 6rem;
  }
  h1{
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .dotwrap{
    justify-content: space-between;
  }
  article {
    columns: 1;
    column-width: 100%;
  }
  .collapse{
    flex-direction: column;
  }
  .glow-card-wrap {
    width: 100%!important;
  }
}

/* Glow card */
.glow-card-wrap {
  margin:1rem;
  width: 600px;
  min-height: 300px;
  position: relative;
}
.glow-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.glow-card:before, .glow-card:after{
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 15px;
  z-index: 2;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
}
.glow-card:before {
  z-index: 1;
  transform: translateY(20px) scale(0.9);
  filter: blur(25px);
  opacity: 0.9;
}

/*Fab*/
.fab{
  cursor: pointer;
  background: white;
  padding:15px;
  border-radius:50%;
  font-size: 18px;
  line-height: 6px;
  text-align: center;
  box-shadow: var(--level3);
  transition: var(--animation);
}
.fab:hover{
  transform: translateY(1rem);
}

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*random image + background*/
/*
background: url(https://picsum.photos/1400/1400/?random) no-repeat center center fixed;
background-size: cover;
*/

/* scrollbar */
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

/* select all on focus */
/* .focus-select {
  cursor: pointer;
  -webkit-user-select: all;
}
.focus-select:focus {
  animation: select 100ms step-end forwards;
}
@keyframes select {
  to {
    -webkit-user-select: text;
    user-select: text;
  }
} */
