<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <!-- <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8"> -->
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <!-- <script type="text/javascript" src="../../carousel.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="stage">
      <div class="backdrop" ng-class="{'green':deg === 1,'black':deg === 2,'blue':deg === 3,'red':deg === 4}"></div>
      <ul class="ctrls">
        <li>
          <button type="button" ng-click="next()" name="button">x</button>
        </li>
        <li>
          <button type="button" ng-click="deg = 1" name="button">•</button>
        </li>
        <li>
          <button type="button" ng-click="deg = 2" name="button">•</button>
        </li>
        <li>
          <button type="button" ng-click="deg = 3" name="button">•</button>
        </li>
        <li>
          <button type="button" ng-click="deg = 4" name="button">•</button>
        </li>
        <li>
          <button type="button" ng-click="prev()" name="button">y</button>
        </li>
      </ul>
      
      <div class="squircle" ng-class="{'top':deg === 1,'right':deg === 2,'bottom':deg === 3,'left':deg === 4}">
        <img class="img top-img" src="https://www.jing.fm/clipimg/full/63-637177_red-magic-the-gathering-mtg-red-mana-symbol.png" alt="">
        <img class="img right-img" src="https://www.nicepng.com/png/full/182-1825734_wholesale-basic-land-mtg-blue-mana-symbol.png" alt="">
        <img class="img bottom-img" src="https://www.pinclipart.com/picdir/big/381-3817545_medium-image-mtg-black-mana-symbol-clipart.png" alt="">
        <img class="img left-img" src="https://nerdgeistdotcom.files.wordpress.com/2013/08/green_mana.png?w=250" alt="">
      </div>
      <div class="content">
        <div class="text" ng-if="deg === 1">
          <h1>GREEN</h1>
          <p>Acceptance through growth</p>
        </div>
        <div class="text" ng-if="deg === 2">
          <h1>BLACK</h1>
          <p>Power through ruthlessness</p>
        </div>
        <div class="text" ng-if="deg === 3">
          <h1>BLUE</h1>
          <p>Perfection through knowledge</p>
        </div>
        <div class="text" ng-if="deg === 4">
          <h1>RED</h1>
          <p>Freedom through action</p>
        </div>
      </div>
    </div>
    
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
