<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../angular-animate.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
</head>
<body>
  <div class="overlay"></div>
  <div ng-controller="mainCtrl">
    <div class="top-nav align jsb">
      <span></span>
      <span class="align">
        <span class="align">
          <img class="curr" src="https://www.freepngimg.com/thumb/coins/4-2-coins-png-thumb.png" alt="">
          &nbsp;
          50 000
        </span>
        &nbsp;
        &nbsp;
        &nbsp;
        <span class="align">
          <img class="curr" src="http://dragon-mania-legends-wiki.mobga.me/images/5/5f/Pile_of_Gems.png" alt="">
          &nbsp;
          200
        </span>
        &nbsp;
        &nbsp;
        &nbsp;
      </span>
    </div>
    <div class="bot-nav align jsb">
      123
    </div>
    <div class="row">
      <div class="flex center">
        <p>Loadout</p>
        <ul class="box-list">
          <li ng-repeat="slot in leftMenu track by $index" ng-click="slot.open = !slot.open">
            <img ng-src="{{slot.picked}}" class="icon" alt="">
            <div ng-if="slot.open" class="context-menu-left">
              <button type="button" ng-click="slot.picked = option.url" ng-repeat="option in slot.options" name="button">{{option.text}}</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="flex x2 avatar center">
        <img src="https://i.gifer.com/On3I.gif" alt="">
      </div>
      <div class="flex center">
        <p>Items</p>
        <ul class="box-list">
          <li ng-repeat="slot in rightMenu track by $index" ng-click="slot.open = !slot.open">
            <img ng-src="{{slot.picked}}" class="icon" alt="">
            <div ng-if="slot.open" class="context-menu-right">
              <button type="button" ng-click="slot.picked = option.url" ng-repeat="option in slot.options" name="button">{{option.text}}</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
