:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 0.5rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png");
  padding: 1% 5%;
  font-family: 'Raleway', sans-serif;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* font-size: 16px; */
}

.overlay{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  pointer-events: none;
  background: radial-gradient(ellipse at center, rgba(30,87,153,0) 0%,rgba(49,45,63,0) 73%,rgba(56,30,30,0.55) 100%);
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.avatar{
  max-height: 90vh;
  overflow: hidden;
  position: relative;
}
.avatar > img{
  position: relative;
  z-index: 1;
  width: 50%;
}
.avatar::after{
  content: "";
  z-index: 0;
  position: absolute;
  bottom: 10%;
  left: 35%;
  right: 35%;
  border-radius: 50%;
  height: 33px;
  background: rgba(0,0,0,0.2);
  margin-left: 3%;
}

.bot-nav{
  position: fixed;
  height: 8vh;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background: black;
  z-index: 90;
}
.top-nav{
  position: fixed;
  height: 4vh;
  padding: 0.5em 1em;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  z-index: 90;
  color: #fff;
  background: linear-gradient(to bottom, rgba(62, 88, 99, 0.38) 0%,rgba(49,45,63,0) 90%,rgba(56,30,30,0) 100%);
}
.top-nav b{
  font-size: 18px;
  font-weight: lighter;
}

.icon{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  left: 0px;
  top: 0px;
}

.curr{
  width: 20px;
  height: auto;
}

.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
}
.box-list{
  padding: 0;
}

.box-list > li{
  width: 100px;
  height: 100px;
  border: 5px solid white;
  background: rgba(0, 0, 0, 0.3);
  list-style: none;
  position: relative;
  padding: var(--spacer);
  display: inline-block;
}

.context-menu-left{
  background: #333;
  position: absolute;
  right: -66%;
  top: 0;
  z-index: 100;
}

.context-menu-right{
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: -66%;
  top: 0;
  z-index: 100;
}

.context-menu-left button, .context-menu-right button{
  width: 100%;
  text-align: center;
  margin: 0;
  cursor: pointer;
  background: #333;
  color: #f5f5f5;
  outline: none!important;
  border: none;
  border-bottom: 1px solid #555;
}

/*flex*/
.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  .avatar{
    order: -1;
  }
  body{
    overflow-y: auto;
  }
  .box-list > li{
    margin: 5px;
    display: inline-block;
  }
  .context-menu-left, .context-menu-right{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 8vh;
    top: unset;
  }
  .context-menu-left button, .context-menu-right button{
    padding: 1em;
  }
}


/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

/*Card*/


/*Fab*/
/*.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
}*/

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*background*/
/*
background: url(http://lorempixum.com/1440/900/sports) no-repeat center center fixed;
background-size: cover;
*/
