body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background: #131417;
}

.align{
  display: flex;
  align-items: center;
}

.connection{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 300px;
  margin: 0 auto;
  background: #333;
  color: white;
  padding: 5px;
}
.dot{
  background: tomato;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
}
.green{
  background: lime;
}

.grid{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10%;
  transform-style: preserve-3d;
  transform: perspective(110em) rotateZ(50deg) rotateX(40deg) rotateY(-40deg);
}
.tile {
  width: 100px;
  height: 100px;
	outline: 1px solid black;
	display: block;
	background: #515547;
	float: left;
	font-size:0px;
	transition: 0.2s all ease;
	position: relative;
	transform-style: preserve-3d;
  cursor: pointer;
}
.tile::before{
	outline: 1px solid black;
	content: "_";
	position: absolute;
	color: transparent;
	width: 100px;
	height: 100px;
	background: #515547;
  box-shadow: inset 10px 10px 300px 0px rgba(0,0,0,0.25);
	transform-origin: top center;
	transition: 0.2s all ease;
	transform: rotateZ(0deg) rotateX(-90deg) rotateY(0deg) translateY(1px) translateZ(100px) translateX(0px);
}
.tile::after{
	outline: 1px solid black;
	content: "_";
	position: absolute;
	color: transparent;
	width: 100px;
	height: 100px;
	background: #515547;
  box-shadow: inset 10px 10px 300px 0px rgba(0,0,0,0.50);
	transform-origin: top center;
	transition: 0.2s all ease;
	transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(-50px) translateZ(-51px) translateY(0px);
}

.tile:hover,
.tile:hover::before,
.tile:hover::after{
  background: dodgerblue;
}

.p1{
  background: tomato;
  transform: translateZ(-10px);
}
.p2{
  background: lime;
  transform: translateZ(10px);
}
