<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
</head>
<body class="scrollbar" style="background:#222;">
  <div ng-controller="mainCtrl">
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Image generator</h5>
              <a href="https://unsplash.com/" target="_blank"><h6 class="card-subtitle mb-2">Unsplash</h6></a>
              <div class="card-text">
                <p>Image URL:</p>
                <input autofocus type="text" placeholder="Image URL" ng-change="crop()" style="padding: 1rem; width: 100%; text-align:center; margin: 0 auto;" name="" ng-model="input" value="">
                <br/>
                <br/>
                <p>Options:</p>
                <p>
                  <select ng-change="crop()" ng-model="q">
                    <option value="5">low (~12kb)</option>
                    <option value="60">medium (~28kb)</option>
                    <option value="100">high (~117kb)</option>
                  </select>
                </p>
                <p>
                  <input type="radio" ng-change="crop()" ng-model="format" value="landing">
                  Landing
                </label><br/>
                <label>
                  <input type="radio" ng-change="crop()" ng-model="format" value="blog">
                  Blog
                </label>
              </p>
              <p>
                <label>
                  <input ng-model="mockform" type="checkbox"/>
                  Form Preview
                </label>
              </p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Preview:</h5>
            <div style="text-align:center;position:relative;">
              <img ng-if="output" style="width: 100%; height: auto; box-shadow:0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03)" ng-src="https://images.unsplash.com/{{output}}?ixid=2yJhcHBfaWQiOjEyMDd9&fm=jpg{{fr}}q={{q}}" alt="">
              <div ng-if="output && mockform && format==='landing'" class="mockform"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<script type="text/javascript">
var app = angular.module("myApp", []); app.controller("mainCtrl", function($scope) {
  $scope.input = '';
  $scope.output = '';
  $scope.q = '60';
  $scope.format = 'landing';
  $scope.fr = '&fit=crop&w=460&h=460&'

  $scope.crop = function(){
    if($scope.format === "landing"){
      $scope.fr = '&fit=crop&w=460&h=460&';
    }else{
      $scope.fr = '&fit=crop&w=1350&'
    }
    $scope.output = $scope.input.split('com/').pop().split('?ix')[0].toString();
  }
});
</script>
<style>
.mockform{
  width: 100%;
  height: 140px;
  background: url('top.png');
  background-repeat: repeat;
  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0px;
  bottom: 0;
  border-bottom:24px solid white;
}
</style>
</html>
