:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: linear-gradient(to right, #fd9981 0%,#ed5f85 92%);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}

/* ng-animate */
/* .fade{
  transition:0.5s linear opacity;
}
.fade.ng-hide {
  opacity:0;
} */

/*flex*/
/*.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
}*/

/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level3);
  position: relative;
  width: 75vw;
  margin: 0 auto;
  margin-top: 5%;
  overflow: hidden;
}

.slider{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f78ba8;
  min-height: 100px;
  display: inline-flex;
  transition: var(--animation);
}

.content{
  margin: 1em 0;
  min-height: 500px;
  opacity: 1;
  transition: var(--animation);
}

.poster{
  display: inline-flex;
  margin: 0 5px;
  width: 300px;
  min-height: 200px;
  position: relative;
  cursor: pointer;
  transition: var(--animation);
  transition-delay: 0.5;
    transform: translateY(50px)
}
.poster img{
  width: auto;
  margin: 0 auto;
  height: 200px;
  box-shadow: var(--level2);
  position: relative;
  z-index: 5;
  border-radius: 5px;
}
.selected .poster:hover{
  transform: translateY(-150px);
}

.info-overlay{
  position: absolute;
  left: 0;
  top: -40%;
  right: 0;
  bottom: -10px;
  padding: 5px;
  text-align: center;
  background: #f78ba8;
  transition: var(--animation);
  border-radius: 10px;
  color: white;
}
.poster:hover .info-overlay{
  
}
.selected{
  transform: translateY(75%);
}
.movie-info{
  margin: 1em;
}

.cast-img{
  background-size: contain;
  border-radius: 75px;
  width: 4vw;
  height: 4vw;
  overflow: hidden;
}
.selected-poster{
  border-radius: 5px;
}

.cap{
  text-transform: capitalize;
}
.swap{
  opacity: 0;
  transform: scale(0.95);
  filter: brightness(8);
}
.current .info-overlay{
  background: #ed5f85;
}

@media screen and (max-width: 768px) {
  .align{
    flex-wrap: wrap;
  }
  .selected-poster{
    margin: 0 auto!important;
  }
  .slider{
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .selected .poster:hover{
    transform: translateX(-40px) translateY(50px);
  }
  .content{
    min-height: unset;
  }
  .selected{
    transform: translateY(0%);
  }
  .poster{
    margin: 0 auto;
    width: 80%;
  }
  .info-overlay{
    position: relative;
    top: unset;
  }
  .cast-img {
    width: 10vw;
    height: 10vw;
  }
  
}

/*Fab*/
/*.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
}*/

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*background*/
/*
background: url(http://lorempixum.com/1440/900/sports) no-repeat center center fixed;
background-size: cover;
*/
