<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <script type="text/javascript" src="../../carousel.js"></script>
  <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    
    <div class="wrap">
      <!-- <div class="nav align jsb">
        <span></span>
        <span></span>
      </div> -->
      <div class="textbox" ng-if="showMSG">
        {{msg}}
      </div>
      <div class="tile" ng-class="{
        'player': tile.tile === 'player',
        's': tile.tile === 'player' && facing === 's',
        'e': tile.tile === 'player' && facing === 'e',
        'w': tile.tile === 'player' && facing === 'w',
        'n': tile.tile === 'player' && facing === 'n',
        'wall': tile.tile === 'wall',
        'enemy1': tile.tile === 'enemy1',
        'enemy2': tile.tile === 'enemy2',
        'pillar': tile.tile === 'pillar',
        'door': tile.tile === 'door',
        'sign': tile.tile === 'sign',
        'death': tile.tile === 'player' && death,
        'hole': tile.tile === 'hole'
        }"
        ng-repeat="tile in currentRoom.map track by $index"></div>
    </div>
    <div class="center">
      <br/>
      <div class="pointer" ng-click="save()">save</div> - <div class="pointer" ng-click="load()">load</div>
    </div>
    
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
