:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'VT323', monospace;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}
.textbox{
  background: black;
  color:white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-style: italic;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 32px;
  z-index: 100;
  height: 96px;
  padding: 32px;
}

.wrap{
  position: relative;
  line-height: 0;
  width: 576px;
  height: 576px;
  overflow: hidden;
  margin: 0 auto;
  filter: grayscale(1);
}
.nav{
  font-weight: lighter;
  font-style: italic;
  height: 64px;
  line-height: 64px;
  background: black;
  position: relative;
  z-index: 100;
  color: white;
  padding: 0 8px;
  font-size: 32px;
}
.tile{
  display: inline-block;
  width: 64px;
  height: 64px;
  background: url('img/grass.png') center center no-repeat;
  background-size: contain;
}
.wall, .pillar, .player, .sign, .enemy1, .shrub{
  position: relative;
}
.shrub::after{
  background: url('img/shrub.png') center center no-repeat;
  background-size: contain;
  z-index: 11;
  content: '_';
  position: absolute;
  left: 0;
  top: -64px;
  right: 0;
  bottom: 0;
  height: 124px;
  filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.3));
}
.wall::before{
  background: url('img/bush.png') center center no-repeat;
  background-size: contain;
  z-index: 10;
  content: '_';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.3));
}
.sign::before{
  background: url('img/sign.png') center center no-repeat;
  background-size: contain;
  z-index: 10;
  content: '_';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.3));
}
.player::before{
  content: '_';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: green;
  z-index: 10;
  filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.3));
}
.hole{
  background: url('img/hole.png') center center no-repeat!important;
  background-size: contain;
}
.pillar::before{
  background: url('img/pillar.png') center center no-repeat;
  background-size: contain;
  z-index: 10;
  content: '_';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 124px;
  filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.3));
}
.door{
  background: url('img/door.png') center center no-repeat!important;
  background-size: contain;
}
.enemy1::before{
  background: url('https://media1.giphy.com/media/67sjZ6l0bMIWTZvguN/source.gif') center center no-repeat;
  background-size: 120%;
  z-index: 10;
  content: '_';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.3));
}
.enemy2{
  background: purple!important;
}

/*overlay*/

.oshrub.player::after{
  background: url('img/shrub.png') center center no-repeat;
  background-size: contain;
  z-index: 11;
  content: '_';
  position: absolute;
  left: 0;
  top: -64px;
  right: 0;
  bottom: 0;
  height: 124px;
  filter: drop-shadow(0px -10px 0px rgba(0, 0, 0, 0.3));
}

/*player*/
.n::before{
  background: url('../map3/img/up.png') center center no-repeat;
  background-size: contain;
  animation-name: n-step;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes n-step {
  0% {
    transform: translateY(32px);
  }
  50%{
    background: url('../map3/img/upStep.png') center center no-repeat;
    background-size: contain;
  }
  100% {transform: translateY(0px);}
}
.s::before{
  background: url('../map3/img/down.png') center center no-repeat;
  background-size: contain;
  animation-name: s-step;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes s-step {
  0% {
    transform: translateY(-32px);
  }
  50%{
    background: url('../map3/img/downStep.png') center center no-repeat;
    background-size: contain;
  }
  100% {transform: translateY(0px);}
}
.w::before{
  background: url('../map3/img/left.png') center center no-repeat;
  background-size: contain;
  animation-name: w-step;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes w-step {
  0% {
    transform: translateX(32px);
  }
  50%{
    background: url('../map3/img/leftStep.png') center center no-repeat;
    background-size: contain;
  }
  100% {transform: translateX(0px);}
}
.e::before{
  background: url('../map3/img/right.png') center center no-repeat;
  background-size: contain;
  animation-name: e-step;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes e-step {
  0% {
    transform: translateX(-32px);
  }
  50%{
    background: url('../map3/img/rightStep.png') center center no-repeat;
    background-size: contain;
  }
  100% {transform: translateX(0px);}
}

.n.death::before{
  transform: translateY(-64px);
  background: url('../map3/img/upStep.png') center center no-repeat;
}
.e.death::before{
  transform: translateX(64px);
    background: url('../map3/img/rightStep.png') center center no-repeat;
}
.s.death::before{
  transform: translateY(64px);
    background: url('../map3/img/downStep.png') center center no-repeat;
}
.w.death::before{
  transform: translateX(-64px);
    background: url('../map3/img/leftStep.png') center center no-repeat;
}

.death::before{
  animation-name: death;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes death {
  0% {
    background-size: contain;
    background-size: 80%;
    filter: brightness(0.8);
  }
  25%{
    background-size: 60%;
    filter: brightness(0.6);
  }
  50%{
    background-size: 40%;
    filter: brightness(0.4);
  }
  75%{
    background-size: 20%;
    filter: brightness(0.2);
  }
  100% {
    background-size: 0%;
    opacity: 0;
  }
}

/* .e.death::before{
  transform: translateX(32px);
}
.s.death::before{
  transform: translateY(-32px);
}
.w.death::before{
  transform: translateX(-32px);
} */

/* ng-animate */
/* .fade{
  transition:0.5s linear opacity;
}
.fade.ng-hide {
  opacity:0;
} */

/*flex*/
/*.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
}*/

/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

/*Card*/
/*
.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .25);
  border-radius: 5px;
  position: relative;
  transition: all 150ms ease-in-out;
  background: #fff;
  margin: var(--spacer);
  padding: var(--spacer);
}
.card:hover {
  box-shadow: 0 1px 2px rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
}
*/

/*Fab*/
/*.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
}*/

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*random image + background*/
/*
background: url(https://picsum.photos/1400/1400/?random) no-repeat center center fixed;
background-size: cover;
*/

/* scrollbar */
/* .scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
} */
