<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="screen">
      <div class="section enemy align space enemy-intro-animation">
        <div class="relative">
          <div class="stats enemy-stats">
            <div class="align space align-center">
              <span class="uppercase">{{enemy.Name}}</span>
              <small>Lv: {{enemy.Level}}</small>
            </div>
            <progress value="{{enemy.CurrentHp}}" max="{{enemy.Hp}}"></progress>
          </div>
        </div>
        <div class="char" style="margin-top:20px;" ng-class="[enemy.Animation]">
          <img class="enemy-sprite" src="{{enemy.Sprite}}" alt="">
          <div class="shade"></div>
        </div>
      </div>
      <div class="section player align space player-intro-animation">
        <div class="char" ng-class="[player.Animation]">
          <img class="my-sprite" src="{{player.OwnedSprite}}" alt="">
        </div>
        <div class="relative">
          <div class="stats my-stats">
            <div class="align space align-center">
              <span class="uppercase">{{player.Name}}</span>
              <small>Lv: {{player.Level}}</small>
            </div>
            <progress value="{{player.CurrentHp}}" max="{{player.Hp}}"></progress>
          </div>
        </div>
      </div>
      <div class="section textbox align">
        <div ng-if="showMenu" class="move-menu">
          <div class="pointer move-item" ng-repeat="move in player.Moves" ng-click="battle(player, move, enemy);">
            {{move.Name}}<br/>
          </div>
        </div>
        {{message}}
      </div>

    </div>
    <div style="text-align:center;margin-top:80px;">
      <button type="button" class="fab" name="button" ng-click="reset()">
        <svg style="width:22px;height:22px" viewBox="0 0 24 24">
            <path fill="#fff" d="M19,12H22.32L17.37,16.95L12.42,12H16.97C17,10.46 16.42,8.93 15.24,7.75C12.9,5.41 9.1,5.41 6.76,7.75C4.42,10.09 4.42,13.9 6.76,16.24C8.6,18.08 11.36,18.47 13.58,17.41L15.05,18.88C12,20.69 8,20.29 5.34,17.65C2.22,14.53 2.23,9.47 5.35,6.35C8.5,3.22 13.53,3.21 16.66,6.34C18.22,7.9 19,9.95 19,12Z" />
        </svg>
      </button>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
