/*Quick start body*/
@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.svg#svgFontName') format('svg');
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.screen{
  background: #e0e1db;
  width: 480px;
  height: 320px;
  outline: 25px solid black;
  overflow: hidden;
  position: relative;
  margin: 5% auto;
}

.align{
  display: flex;
}
.align-center{
  align-items: center;
}
.align-base{
  align-items: baseline;
}
.space{
  justify-content: space-between;
}
.relative{
  position: relative;
}
.section{
  left: 0;
  right: 0;
  height: 33%;
  position: absolute;
}
.enemy{
  top: 0;
  overflow: hidden;
}
.player{
  top:33.3%;
}
.textbox{
  top:66.6%;
  height: 30%;
  background: white;
  margin:5px;
  font-size: 25px;
  padding: 0 5px;
  line-height: 45px;
  border: 2px solid black;
}

.stats{
  position: absolute;
  padding: 1rem;
  height: 33%;
}
.my-stats{
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  bottom: 0;
  right: 5px;
}
.enemy-stats{
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  top: 5px;
  left: 5px;
}
.char{
  position: relative;
}
.enemy-sprite, .my-sprite{
  height: 125%;
  width: auto;
}
.enemy-sprite{
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 40px;
  z-index: 2;
}
.shade{
  width: 95px;
  height: 20px;
  background: #b0af90;
  position: absolute;
  right: 45px;
  bottom: 0px;
  border-radius: 50%;
  z-index: 1;
}
.my-sprite{
  transform: translateY(10px) scale(1.6);
  margin: 0 20%;
}

.move-menu{
  position: absolute;
  bottom: 0%;
  right: 0;
  background: white;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  line-height: normal;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.move-item{
  width: 100%;
  padding: 5px 0;
}
.move-item:hover{
  background: #e0e0e0;
}

.pointer{
  cursor: pointer;
}

.uppercase{
  text-transform: uppercase;
}

.fab{
  cursor: pointer;
  border: none!important;
  outline: none!important;
  background:tomato;
  width:50px;
  color: #fff;
  height: 50px;
  padding:15px;
  border-radius:50%;
  line-height: 25px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@keyframes attack {
0% { transform: translateX(0px);}
20% { transform: translateX(-5px);}
40% { transform: translateX(5px);}
60% { transform: translateX(-10px);}
80% { transform: translateX(10px);}
100% { transform: translateX(0px);}
}
.attack-animation {
animation-name: attack;
animation-duration: 0.8s;
animation-iteration-count: 1;
}

@keyframes player-intro {
0% { transform: translateX(-100%);  filter: grayscale(100%);}
90% { transform: translateX(0px);  filter: grayscale(100%);}
100% { transform: translateX(0px);  filter: grayscale(0%);}
}
.player-intro-animation {
animation-name: player-intro;
animation-duration: 1s;
animation-iteration-count: 1;
}

@keyframes enemy-intro {
  0% { transform: translateX(100%);  filter: grayscale(100%);}
  90% { transform: translateX(0px);  filter: grayscale(100%);}
  100% { transform: translateX(0px);  filter: grayscale(0%);}
}
.enemy-intro-animation {
animation-name: enemy-intro;
animation-duration: 1s;
animation-iteration-count: 1;
}

@keyframes hit {
0% { opacity: 1;}
20% { opacity: 0;}
40% { opacity: 1;}
60% { opacity: 0;}
80% { opacity: 1;}
100% { opacity: 1;}
}
.hit-animation {
animation-name: hit;
animation-duration: 0.5s;
animation-iteration-count: 1;
}

@keyframes dead {
0% { transform: translateY(0); }
75% { transform: translateY(0); }
100% { transform: translateY(200%); }
}
.dead-animation {
animation-name: dead;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-iteration-count: 1;
}

@media screen and (max-width: 768px) {
  .screen{
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
.move-menu{
  left:5px;
  right: 5px;
  bottom: 5px;
  position: fixed;
}
.stats{
  transform-origin: center;
  transform: scale(0.7);
}
body{
  background: steelblue;
}
}
