:root {
  --eye-size:8rem;
  --eye-gap:7rem;
  --eye-color:white;
  --background:#333;
  --user-button-main:#D770AD;
  
  --left-lower-rotation:0deg;
  --left-lower-position:0%;
  --left-upper-rotation:0deg;
  --left-upper-position:0%;
  --right-lower-rotation:0deg;
  --right-lower-position:0%;
  --right-upper-rotation:0deg;
  --right-upper-position:0%;
  --face-rotation-x:0deg;
  --face-rotation-y:0deg;
  --face-rotation-z:0deg;
  --face-position-y:0px;
  
  --mouth-position-y:180px;
  --mouth-width-x:1;
}

body {
  overflow: hidden;
  margin: 0;
}

.face-container {
  width: 450px;
  min-height: 500px;
  border-radius: 1000px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  transform-origin: center;
  transform: scale(0.8);
  background: var(--background);
}

.rctrl{transform: rotateY(180deg);}
.rctrl > p{transform: rotateY(-180deg);}
.disabled{
  opacity: 0.3;
  pointer-events: none;
}
.align{
  display: flex;
  align-items: center;
}
.jsb{
  justify-content: space-between;
}
.ctrls > div{
  text-align: center;
}

.mouth{
  top: var(--mouth-position-y);
  width: 100%;
  transform: scaleX(var(--mouth-width-x));
  margin: 0 auto;
  height: 10px;
  background: white;
  position: relative;
  box-shadow: 0 0 0 1rem black;
}

.face {
  display: grid;
  grid-template-columns: var(--eye-size) var(--eye-gap) var(--eye-size);
  grid-template-rows: var(--eye-size);
  grid-template-areas: "left . right";
  filter: blur(0.25rem) contrast(8);
  transform: translateZ(4rem) translateY(var(--face-position-y)) rotateX(var(--face-rotation-x)) rotateY(var(--face-rotation-y)) rotateZ(var(--face-rotation-z));
  transition: 0.75s cubic-bezier(0.25, 0.5, 0.5, 1);
  mix-blend-mode: lighten;
}
.face .eye {
  position: relative;
  background: white;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 0 1rem black;
}
.face .eye, body .face .eye * {
  transition: 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}
.face .eye > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(var(--rotation));
}
.face .eye > div .lid {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}
.face .eye > div.lower .lid {
  top: calc(100% - var(--position));
}
.face .eye > div.upper .lid {
  bottom: calc(100% - var(--position));
}
.face .eye.left {
  grid-area: left;
}
.face .eye.left .lower {
  --rotation:var(--left-lower-rotation);
  --position:var(--left-lower-position);
}
.face .eye.left .upper {
  --rotation:var(--left-upper-rotation);
  --position:var(--left-upper-position);
}
.face .eye.right {
  grid-area: right;
}
.face .eye.right .lower {
  --rotation:var(--right-lower-rotation);
  --position:var(--right-lower-position);
}
.face .eye.right .upper {
  --rotation:var(--right-upper-rotation);
  --position:var(--right-upper-position);
}

.mad{
  --left-lower-rotation:0deg;
  --left-lower-position:0%;
  --left-upper-rotation:20deg;
  --left-upper-position:40%;
  --right-lower-rotation:0deg;
  --right-lower-position:0%;
  --right-upper-rotation:-20deg;
  --right-upper-position:40%;
  --face-rotation-x:-10deg;
  --face-rotation-y:0deg;
  --face-rotation-z:0deg;
}
.squint{
  --left-lower-rotation:0deg;
  --left-lower-position:45%;
  --left-upper-rotation:0deg;
  --left-upper-position:45%;
  --right-lower-rotation:0deg;
  --right-lower-position:45%;
  --right-upper-rotation:0deg;
  --right-upper-position:45%;
  --face-rotation-x:-20deg;
  --face-rotation-y:0deg;
  --face-rotation-z:0deg;
}

.sad{
  --left-lower-rotation:10deg;
  --left-lower-position:20%;
  --left-upper-rotation:-10deg;
  --left-upper-position:20%;
  --right-lower-rotation:-10deg;
  --right-lower-position:20%;
  --right-upper-rotation:10deg;
  --right-upper-position:20%;
  --face-rotation-x:0deg;
  --face-rotation-y:0deg;
  --face-rotation-z:0deg;
}

.huh{
  --left-lower-rotation:10deg;
  --left-lower-position:20%;
  --left-upper-rotation:-10deg;
  --left-upper-position:20%;
  --right-lower-rotation:0deg;
  --right-lower-position:0%;
  --right-upper-rotation:0deg;
  --right-upper-position:0%;
  --face-rotation-x:0deg;
  --face-rotation-y:0deg;
  --face-rotation-z:7deg;
}
