:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #222;
  font-family: 'Raleway', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
  overflow-x: hidden;
  padding-bottom: 5rem;
}
.top{
  background: url('https://wallpapercave.com/wp/Zr1gj1a.jpg') no-repeat center center;
  background-size: cover;
}
.discardBod{
  filter: grayscale(50%);
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.jsc{
  justify-content: center;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}

.pool-display{
  color: white;
  background: black;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 25vw;
  margin: 0 auto;
}

/* ng-animate */
/* .fade{
  transition:0.5s linear opacity;
}
.fade.ng-hide {
  opacity:0;
} */

/*flex*/
/*.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
}*/

/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

/*Card*/
.pad{
  padding: var(--spacer);
}
.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
  width: 14vw;
  height: 20vw;
  font-size: 12px;
  overflow: hidden;
  transform-origin: center;
  position: relative;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 10px;
}
.card img{
  width: 100%;
  height: auto;
}
.cost{
  padding: 5px;
}
.tapped{
  transform: rotate(90deg);
}
.castable{

}
.castLand{

}
.castLand:hover::after{
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: url('https://www.freeiconspng.com/uploads/red-x-png-4.png') center center no-repeat;
  background-size: contain;
  filter: drop-shadow(0px 2px 3px #333);
}
.sick{
  filter: grayscale(100%);
}
.tap-wrap{
  display: none;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
}
.tap-trigger{
  border-radius: 50px;
  width: 1rem;
  margin: 0 auto;
  background: dodgerblue;
  color: white;
  box-shadow: var(--level1);
  padding: 5px 7px;
  text-align: center;
}
.card:hover .tap-wrap{
  display: flex;
}
.full-art{
  height: 100%!important;
  width: auto!important;
}
.smaland{
  width: 100px!important;
  height: 100px!important;
  margin: -5px!important;
}
.smalcard{
  width: 100px!important;
  height: 100px!important;
}
.smalcard:hover .pad{
  display: block;
  position: absolute;
}
.stats{
  position: absolute;
  right: 0;
  bottom: 0;
  background: lightgray;
  padding: 5px;
  border-radius: 10px;
}
.buffed{
  background: #bcffbb;
  color: green;
  filter: drop-shadow(0px 2px 2px green);
}
.hand-wrap{
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  transition-delay: 1s;
  transition: var(--animation);
  transform: translateY(120px);
}
.discard-text{
  display: block;
  position: absolute;
  top:-5rem;
  color: white;
}
.hand-wrap:hover{
  transform: translateY(-4rem) scale(1.1);
}
.discard{
  transform: translateY(-30vh) scale(0.9)!important;
}
.hand-wrap:hover ~ .board-wrap, .discard ~ .board-wrap{
  filter: blur(1px) grayscale(80%) brightness(0.6);
  opacity: 0.8;
}
.ready-to-strike{
  filter: drop-shadow(0px -5px 5px tomato);
}

.castable{
  box-shadow: 0px -8px 15px 0px #bada55;
  filter: brightness(1.3);
}
.hand-wrap> .card:hover{
  box-shadow: 0px 3px 25px 0px rgba(82,246,255,1);
}
.board-wrap{
  transition-delay: 4s;
  transition: 4s all ease;
  min-height: 100vh;
  transition: var(--animation);
}
.board-wrap .card{
  box-shadow: var(--level2);
}

.turn-info{
  z-index: 1000;
  position: fixed;
  bottom: 33vh;
  right: 0;
}
.turn-info button{
  background: linear-gradient(to bottom, lime 0%,#bada55 100%);
  padding: var(--spacer);
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.hpe{
  position: fixed;
  top: var(--spacer);
  right: var(--spacer);
}
.hpm{
  position: fixed;
  top: var(--spacer);
  left: var(--spacer);
}
.life-counter{
  background:#333;
  color: #dadada;
  width:18px;
  height: 18px;
  padding:15px;
  border-radius:50%;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.smallRow{
  min-height: unset!important;
}

/*Ng stuff _________________________*/

.board-wrap .ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transform: translateY(250%);
  transition-delay: 1s;
}

.board-wrap .ng-enter-active {
  transform: translateY(0%);
  transition-delay: 1s;
}

.board-wrap .ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  
  transform: scale(1);
}

.board-wrap .ng-leave-active {
  transform: scale(2);
  opacity: 0;
}

/*_____________________________________________*/

.hand-wrap .ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  transform: translateY(100%);
}

.hand-wrap .ng-enter-active {
  transform: translateY(0%);
}

.hand-wrap .ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  transform: translateY(0%);
}

.hand-wrap .ng-leave-active {
  transform: translateY(250%);
}


.ng-move {
  -webkit-transition: 1s;
  transition: 1s;
  
  background: gold;
}

.ng-move-active {
  background: #fff;
}
