:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
  overflow-x: hidden;
  padding-bottom: 5rem;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.jsc{
  justify-content: center;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}

.pool-display{
  color: white;
  background: black;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 25vw;
  margin: 0 auto;
}

/* ng-animate */
/* .fade{
  transition:0.5s linear opacity;
}
.fade.ng-hide {
  opacity:0;
} */

/*flex*/
/*.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
}*/

/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

/*Card*/
.pad{
  padding: var(--spacer);
}
.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
  width: 200px;
  height: 300px;
  overflow: hidden;
  transform-origin: center;
  position: relative;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 10px;
}
.card img{
  width: 100%;
  height: auto;
}
.cost{
  padding: 5px;
}
.tapped{
  transform: rotate(90deg);
}
.castable{

}
.sick{
  filter: grayscale(100%);
}
.tap-wrap{
  display: none;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
}
.tap-trigger{
  border-radius: 50px;
  width: 1rem;
  margin: 0 auto;
  background: dodgerblue;
  color: white;
  box-shadow: var(--level1);
  padding: 5px 7px;
  text-align: center;
}
.card:hover .tap-wrap{
  display: flex;
}
.full-art{
  height: 100%!important;
  width: auto!important;
}
.stats{
  position: absolute;
  right: 0;
  bottom: 0;
  background: lightgray;
  padding: 5px;
  border-radius: 10px;
}
.hand-wrap{
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  transition-delay: 1s;
  transition: var(--animation);
  transform: translateY(120px);
}
.hand-wrap:hover{
  transform: translateY(-4rem) scale(1.1);
}
.hand-wrap:hover ~ .board-wrap{
  filter: blur(1px) grayscale(80%) brightness(0.7);
}
.castable{
  box-shadow: 0px -8px 15px 0px #bada55;
  filter: brightness(1.3);
}
.hand-wrap> .card:hover{
  box-shadow: 0px 3px 25px 0px rgba(82,246,255,1);
}
.board-wrap{
  background: url('https://wallpapercave.com/wp/Zr1gj1a.jpg') no-repeat center center;
  background-size: cover;
  transition-delay: 4s;
  transition: 4s all ease;
  min-height: 100vh;
  transition: var(--animation);
}
.board-wrap .card{
  box-shadow: var(--level2);
}

.turn-info{
  z-index: 1000;
  position: fixed;
  bottom: 33vh;
  right: 0;
}
.turn-info button{
  background: linear-gradient(to bottom, lime 0%,#bada55 100%);
  padding: var(--spacer);
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/*Fab*/
/*.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
}*/

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*random image + background*/
/*
background: url(https://picsum.photos/1400/1400/?random) no-repeat center center fixed;
background-size: cover;
*/
