<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <script type="text/javascript" src="../../carousel.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
</head>
<body>
  <div ng-controller="mainCtrl">
    <input type="range" ng-model="speed" min="500" max="3000" name="" value="">
    <div class="wrap" ng-class="{'right':current.camera === 'right', 'center':current.camera === 'center'}">
      <img src="{{current.face}}" class="overlay" ng-if="current.camera === 'overlay'" alt="">
      <img class="background" ng-class="{'quake':current.quake}" src="img/bgtmpl.png" alt="">
      <img class="face" src="{{current.face}}" alt="">
    </div>
    <div class="text-box">
      <span>{{current.typeText}}</span>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
