<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../angular-animate.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
</head>
<body class="dragscroll" style=" cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
  <div ng-controller="mainCtrl">
  <div class="stage">
    <div ng-repeat="tile in tiles" ng-click="playerMove(tile)" ng-class="{'tall' : tile.tall, 'player': tile.player, 'monster': tile.monster}"></div>
  </div>
    <p>{{life.player}}</p>
    <p>{{life.monster}}</p>
    <p style="position:fixed;top:0;left:0;color:white;">{{moves}}</p>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
