<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <!-- <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8"> -->
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <!-- <script type="text/javascript" src="../../carousel.js"></script> -->
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <div ng-if="phase === 'act'">
      <div class="" ng-click="readyAction('rush')">
        rush
      </div>
    </div>
    <div class="stage">
      <div class="obj-wrap">
        <div class="obj" ng-class="{'active': activeObject === object}" ng-repeat="object in objects" ng-style="objectDisplay(object)">
          {{object.x}} /
          {{object.y}}
        </div>
      </div>
      <div class="grid-wrap">
        <div class="grid">
          <div ng-repeat="tile in cubes" class="tile" ng-class="{'walkable': determineWalkable(tile, $index)}" ng-click="moveTo(tile)">
            {{tile.coordinates.x}} /
            {{tile.coordinates.y}}
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
