:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'Khula', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}

/* .map-base{
  position: relative;
  width: 2032px;
  height: 2032px;
  outline: 1px solid black;
  top: 0;
  left: 0;
  opacity: 0.3;
  background: url("tile.png")
} */
.wrap{
  position: relative;
  min-height: 16px;
  background: green;
}
.camera{
  left: 0;
  right: 0;
  top: 4rem;
  margin: 0 auto;
  position: absolute;
  outline: 1px solid blue;
  transform-origin: top;
  transform: scale(3);
  overflow: hidden;
}
.grid{
  position: absolute;
  margin: 0 auto;
  outline: 1px solid red;
  transition: 0.2s all linear;
}
.tile{
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}
.char{
  transition: 0.2s all linear;
  background: blue;
  border-radius: 10000px;
}
.up{
  border-top:1px solid red;
}
.down{
  border-bottom: 1px solid red;
}
.left{
  border-left: 1px solid red;
}
.right{
  border-right: 1px solid red;
}

.block{
  background: red;
}
.ai-bug{
  transition: 0.5s all linear;
  background: green;
  border-radius: 10000px;
}
