:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'Khula', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}

/* .map-base{
  position: relative;
  width: 2032px;
  height: 2032px;
  outline: 1px solid black;
  top: 0;
  left: 0;
  opacity: 0.3;
  background: url("tile.png")
} */
.wrap{
  position: relative;
  min-height: 16px;
  background: green;
}
.camera{
  left: 0;
  right: 0;
  top: 4rem;
  margin: 0 auto;
  position: absolute;
  transform-origin: top;
  transform: scale(3);
  overflow: hidden;
  background: black;
}
.grid{
  position: absolute;
  margin: 0 auto;
  transition: 0.2s all linear;
  background: url('img/tile.png');
}
.tile{
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}
.up{
  background: url('img/up.png') center center;
  background-size: cover;
}
.down{
  background: url('img/down.png') center center;
  background-size: cover;
}
.left{
  background: url('img/left.png') center center;
  background-size: cover;
}
.right{
  background: url('img/right.png') center center;
  background-size: cover;
}


@keyframes walkLeft {
  0%   { background: url('img/left.png') center center; background-size: contain; background-repeat: no-repeat;}
  100%   { background: url('img/leftStep.png') center center; background-size: contain; background-repeat: no-repeat;}
}
@keyframes walkRight {
  0%   { background: url('img/right.png') center center; background-size: contain; background-repeat: no-repeat;}
  100%   { background: url('img/rightStep.png') center center; background-size: contain; background-repeat: no-repeat;}
}
@keyframes walkUp {
  0%   { background: url('img/up.png') center center; background-size: contain; background-repeat: no-repeat;}
  100%   { background: url('img/upStep.png') center center; background-size: contain; background-repeat: no-repeat;}
}
@keyframes walkDown {
  0%   { background: url('img/down.png') center center; background-size: contain; background-repeat: no-repeat;}
  100%   { background: url('img/downStep.png') center center; background-size: contain; background-repeat: no-repeat;}
}

.walking .left{
  animation: walkLeft 400ms infinite;
}
.walking .up{
  animation: walkUp 400ms infinite;
}
.walking .down{
  animation: walkDown 400ms infinite;
}
.walking .right{
  animation: walkRight 400ms infinite;
}

.char{
  transition: 60ms all linear;
  background-size: contain;
  background-repeat: no-repeat;
}

.block{
  background: red;
}
.block::after{
  box-shadow: 8px 8px 4px 8px rgba(0,0,0,0.3);
  position: absolute;
  content: "";
  height: 32px;
  top: -8px;
  width: 16px;
  background: url('img/pillar.png');
}
.ai-bug{
  transition: 0.5s all linear;
  background: green;
  border-radius: 10000px;
}
