html {
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 0.5rem;
  
  --main: #FF3926;
  --white: #fff;
  --offwhite: #f5f5f5;
  --text: black;
  
  --gradient1: rgb(218, 68, 83);
  --gradient2: rgb(137, 33, 107);
  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
html[data-theme='dark'] {
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 0.5rem;
  
  --main: green;
  --white: #333;
  --offwhite: #222;
  --text: white;
  
  --gradient1: #6b3575;
  --gradient2: #1a0080;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*Quick start body*/

.fab{
    background:#ff920d;
    width:24px;
    height: 24px;
    padding:15px;
    border-radius:50%;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    position: fixed;
    right: 5%;
    bottom: 5%;
    box-shadow: var(--level3);
}
.fab svg{
  z-index: 100;
  position: relative;
}
.fab span{
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 54px;
  line-height: 54px;
  border-radius: 25px;
  bottom: 0;
  opacity: 0;
  width: 200px;
  font-size: 16px;
  pointer-events: none;
  background: #ff920d;
  transition: var(--animation);
  z-index: 99;
}
.fab:hover span{
  opacity: 1;
}

body{
  margin: 0;
  background: var(--offwhite);
  color: var(--text);
  font-family: 'Nunito', sans-serif;
}


.above-the-fold{
  height: 100vh;
  background: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
  color: var(--white);
  padding: 60px 0;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.align{
  display: flex;
  align-items: center;
}
.jc{
  justify-content: center;
}
.jsb{
  justify-content: space-between;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.margin-center{
  margin: 0 auto;
}
.text-green{
  color: #bada55;
}


.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  
  
  .progress-btn{
    width: 100%!important;
  }
  
  .above-the-fold{
    height: auto;
  }
  
  .header-img{
    width: 50%!important;
    padding: 0!important;
    margin: 50px auto;
    height:auto;
  }
  .cta-btn{
    margin: 0 auto!important;
    width: 100%!important;
  }
}

@media screen and (max-width: 420px) {
  .hide-on-phone{
    display: none!important;
  }
}

.tile{
    background: var(--white);
    padding: var(--spacer);
    margin: var(--spacer);
    min-height: 250px;
    position: relative;
    text-align: center;
    box-shadow: var(--level1);
}
.tile span{
  /* position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em; */
}
.tile svg{
  background:rgb(137, 33, 107);
  width:24px;
  height: 24px;
  padding:20px;
  border-radius:50%;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  box-shadow: var(--level1);
}

.banner{
  background: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
  color: white;
  padding: 60px;
  position: relative;
}
.header{
  color:white;
}
/* fluid layout*/

.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}
.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}
@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}
@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(99%, auto))!important;
  }
}


/*Card*/
.card {
  background: var(--white);
  border-radius: 5px;
  margin: var(--spacer);
  padding: 1rem;
  box-shadow: var(--level1);
  transition: var(--animation);
  color: var(--text);
}

.form-tile input, .form-tile select{
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.2);
  width: 98%;
  padding: var(--spacer) 1%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}
.form-tile select{
  width: 100%;
}
.form-tile label{
  font-size: 12px;
  color: #555;
}
.form-button{
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  background: #bada55;
  border-radius: 5px;
  margin: var(--spacer) 0;
}
.massive{
  font-size: 100%;
  font-weight: lighter!important;
}
.has-error{
  color: var(--main);
}
.help-block{
  font-size: 12px;
  margin: 0;
  color: red;
}
input::placeholder{
  font-size: 12px;
}
.progress-btn{
  background: var(--white);
  color: green;
  border: 1px solid green;
  outline: none;
  border-radius: 5px;
  padding: var(--spacer);
  width: 25%;
  text-align: center;
  cursor: pointer;
}
.special-btn{
  background: green;
  color: var(--white);
  padding: 1rem;
}
/* 
.error-form{
  background: #d3415578!important;
  border:1px solid red!important;
} */

.media-obj{
  background: var(--white);
  margin: var(--spacer);
  border-radius: 15px;
  padding: 1rem;
  box-shadow: var(--level1);
}
.media-obj img{
  width: 100px;
  height: auto;
}


nav{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 1rem;
  background: var(--white);
  box-shadow: var(--level2);
  z-index: 10;
}
.brand{
    color:var(--black);
    text-decoration: none;
    font-weight: bold;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}
h1 {
    font: 700 3rem/3.5rem "Open Sans", sans-serif;
}

.links a{
  margin-left: var(--spacer);
}
.dot{
  display: inline-block;
  margin: 0 2.5px;
  background: #f5f5f5;
  padding: 5px;
  width: 0.5em;
  height: 0.5em;
  border-radius:50%;
  cursor: pointer;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}
.active{
  background: #e0e0e0;
}

.footer{
  background: #333;
  color: #e0e0e0;
  padding: 2rem 0;
}

.header-img{
  width:100%;
  height:auto;
  padding-left: 50px;
}

@keyframes intro {
  from {
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.intro {
opacity: 0;
transform: translateY(50px);
animation-name: intro;
animation-fill-mode: forwards;
animation-duration: 1s;
animation-delay: 1s;
}
.intro2 {
opacity: 0;
transform: translateY(-100px);
animation-name: intro;
animation-fill-mode: forwards;
animation-duration: 0.5s;
animation-delay: 1s;
}

@keyframes hover {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-4px) rotate(2deg);
  }
  50% {
    transform: translateY(3px) rotate(-4deg);
  }
  75% {
    transform: translateY(-2px) rotate(1deg);
  }
  100% {
      transform: translateY(0) rotate(0deg);
  }
}
.hover {
animation-name: hover;
animation-fill-mode: forwards;
animation-duration: 5s;
animation-iteration-count: infinite;
transform-origin: bottom center;
filter: drop-shadow(10px 10px 2px rgba(0,0,0,0.2));
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
  }
  100% {
    box-shadow: 0px 0px 15px 30px rgba(0,0,0,0);
  }
}
.pulse {
animation-name: pulse;
animation-fill-mode: forwards;
animation-duration: 2s;
animation-iteration-count: 1;
}

.cta-btn{
  padding: 1rem;
  margin: var(--spacer);
  background: #ff920d;
  position: relative;
  border-radius: 25px;
  min-width: 150px;
  border: none;
  outline: none;
  box-shadow: var(--level1);
  color: #251502;
  cursor: pointer;
  overflow: hidden;
}
.cta-btn::after{
  position: absolute;
  content: "";
  height: 100px;
  width: 20px;
  background: #ffc000;
  transition: 0.5s left ease;
  top: -25px;
  left: -100%;
  transform-origin: center;
  transform: rotate(25deg);
}
.cta-btn:hover::after{
  left: 110%;
}

.types-of-loans svg{
  border: 1px solid #e0e0e0;
  padding: 1rem;
  border-radius: 50%;
}
.types-of-loans svg:hover{
  animation-name: pulse;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

.help-filter{
  width: 100%;
  padding: var(--spacer) 0;
  text-align: center;
  font-size: 24px;
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 25px;
  outline: none;
}
.help-filter::placeholder{
  color: #e0e0e0!important;
}

.q-wrap{
  cursor: pointer;
  background: rgba(255,255,255, 0.1);
  border-radius: 5px;
  color: var(--white);
}
.q-wrap h4, .a-wrap{
  padding: var(--spacer);
}}
