<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="phone-wrap">
      <div class="cart">
        <b>My cart</b>
        </br>
        <small ng-if="cartList.length<1">Nothing here yet</small>
        <div ng-repeat="item in cartList" class="align jsb cart-row">
          {{item.amount}}x {{item.name}}
          <img class="thumb" ng-src="{{item.url}}" alt="">
          <div class="align">
            <div class="fab pointer" ng-click="minus(item)">
              -
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="fab pointer" ng-click="plus(item)">
              +
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="grad-card pointer" ng-repeat="item in listClone | orderBy: 'id'" ng-click="add(item)">
          <h3>{{item.name}}</h3>
          <div class="align jsc">
            <img class="showcase" ng-src="{{item.url}}" alt="">
            &nbsp;
            &nbsp;
            &nbsp;
            <p>{{item.desc}}</p>
          </div>
        </div>
      </div>
    </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
