:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 14px;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.jsc{
  justify-content: center;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img, *{
  user-select: none;
  outline: none;
}
svg{
  cursor: pointer;
}
.relative{
  position: relative;
}
b{
  font-size: 20px;
}
small{
  font-size: 14px;
  opacity: 0.7;
}
b, small, p{
  line-height: 1.8rem;
}
.fab{
  background:transparent;
  color: #333;
  border: 2px solid #333;
  width:18px;
  height: 18px;
  padding:4px;
  border-radius:50%;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.thumb{
  width: 50px;
  height: auto;
}
.showcase{
  transform: translateX(-2rem);
  width: 50%;
  height: auto;
  box-shadow: var(--level4);
  transform-origin: bottom center;
  transition: all 400ms 400ms cubic-bezier(.33,.11,.02,.99);
  /* margin: 0 auto; */
}
.phone-wrap{
  box-shadow: var(--level3);
  transform: translateY(5%);
  -moz-transform: translateY(5%);
  -webkit-transform: translateY(5%);
  width: 414px;
  height: 736px;
  background: #e8e9fd;
  border-radius: 30px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.grad-card{
  padding: 1rem;
  margin: 1rem;
  border-radius: 30px;
  color: white;
  background: linear-gradient(#8c4af2 0%, #6e54f5 100%);
}
.grad-card:hover .showcase{
  transform: translateX(0);
  box-shadow: var(--level1);
}
.content{
  margin: 1rem;
}
.cart-row{
  border-bottom: 1px solid #f5f5f5;
  padding: 0.5rem 0;
}
.cart{
  padding: 1rem;
  background: white;
  box-shadow: var(--level2);
}

@media screen and (max-width: 415px) {
  .phone-wrap{
    border:none!important;
    width: 100%;
    height: 100%;
    border-radius: 0!important;
    transform: translateY(0);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}
