<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <script type="text/javascript" src="../../carousel.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="row">
      <div class="flex stage">
        <nav class="align jsb">
          <span class="align">
            &nbsp;
            {{chests}}
            &nbsp;
            <img style="width: 25px; height: auto;" src="https://gamepedia.cursecdn.com/smite_gamepedia/thumb/8/85/TreasureRoll_Triumphant2.png/256px-TreasureRoll_Triumphant2.png?version=0369570634274d6ce44599cc85005e3b" alt="">
          </span>

        </nav>
        <div ng-click="pop()" class="dosh-wrap relative center pointer">
          <img ng-class="{'poppy': popFX}" src="https://images.squarespace-cdn.com/content/v1/53e5e8b4e4b0f39bef5e536c/1547215224537-CKW4KQXKD9Y2D28HJCSW/ke17ZwdGBToddI8pDm48kLPswmMOqQZ9-Q6KHLjvbpZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UVTQf06wQztZgT3ocQ_Nttc9pRe5bgfSgFgLIpbw9lM5m7cT0R_dexc_UL_zbpz6JQ/sun.gif?format=2500w" alt="">
          <h1 class="center">{{dosh}}</h1>
        </div>

        <hr>
        <div class="align jsb card">
          <div class="icon-box upgrade">
            <img src="https://vignette.wikia.nocookie.net/riseofcivilizations/images/0/0e/Building_Farm_1_5.png/revision/latest/scale-to-width-down/180?cb=20181114153913" alt="">
            <p>x{{oneMulti}}<p>
          </div>
          <progress value="{{oneTick}}" max="10"></progress>
          <button class="upgrade pointer center" type="button" ng-click="buy(1)" name="button"  ng-class="{'disabled': dosh < 100}">
            <svg style="width:48px;height:48px" viewBox="0 0 24 24">
              <path fill="#f3dec1" d="M12,7L17,12H14V16H10V12H7L12,7M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M19,19V5H5V19H19Z" />
            </svg>
            100
          </button>
        </div>

        <div class="align jsb card">
          <div class="icon-box upgrade">
            <img src="https://vignette.wikia.nocookie.net/riseofcivilizations/images/8/8b/Building_Storehouse_1_5.png/revision/latest/scale-to-width-down/180?cb=20181114154001" alt="">
            <p>x{{twoMulti}}<p>
          </div>
          <progress value="{{twoTick}}" max="10"></progress>
          <button class="upgrade pointer center" type="button" ng-click="buy(2)" name="button" ng-class="{'disabled': dosh < 1000}">
            <svg style="width:48px;height:48px" viewBox="0 0 24 24">
              <path fill="#f3dec1" d="M12,7L17,12H14V16H10V12H7L12,7M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M19,19V5H5V19H19Z" />
            </svg>
            1000
          </button>
        </div>

        <div class="align jsb card">
          <div class="icon-box upgrade">
            <img src="https://vignette.wikia.nocookie.net/riseofcivilizations/images/5/59/Building_City_Hall_1_5.png/revision/latest/scale-to-width-down/180?cb=20181114154456" alt="">
            <p>x{{threMulti}}<p>
          </div>
          <progress value="{{threTick}}" max="10"></progress>
          <button class="upgrade pointer center" type="button" ng-click="buy(3)" name="button"  ng-class="{'disabled': dosh < 10000}">
            <svg style="width:48px;height:48px" viewBox="0 0 24 24">
              <path fill="#f3dec1" d="M12,7L17,12H14V16H10V12H7L12,7M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M19,19V5H5V19H19Z" />
            </svg>
            10000
          </button>
        </div>

        <div class="align jsb">
          <button type="button" class="time pointer" ng-click="buy(0)" name="button">
            <img src="https://az571148.vo.msecnd.net/propressroom/Content/Artwork/Eva/BlizzardLive/artwork/2018/06/01231247-40ac53b6-8898-4b04-9df1-210284739905/Taverns_of_Time_Hourglass_Icon.png?lightbox=y&ex=2019-06-06+03%3A00%3A00&sky=be5d5d93973d50c4466cb9f6d1c50594cafdb5ca46cbd5d728882c3a168488c4" alt="">
            <p class="upgrade" ng-class="{'disabled': dosh < price*timeBonus}" style="padding: 0.5rem 0.5rem 0.5rem 1.5rem;">
              Speed
              <br>
              {{price*timeBonus}}
            </p>
          </button>
          <button type="button" class="alert pointer" ng-click="buy(4)" name="button">
            <img src="https://gamepedia.cursecdn.com/smite_gamepedia/thumb/8/85/TreasureRoll_Triumphant2.png/256px-TreasureRoll_Triumphant2.png?version=0369570634274d6ce44599cc85005e3b" alt="">
            <p class="upgrade" ng-class="{'disabled': dosh < 1000000}" style="padding: 0.5rem 1.5rem 0.5rem 0.5rem;">
              Chest
              <br>
              1000000
            </p>
          </button>
        </div>


      </div>
    </div>
    <!-- <div class="stats">
      Time (ms): <p>{{baseTime}}</p>
      One: <p>{{oneTick}}</p>
      Two: <p>{{twoTick}}</p>
      Three: <p>{{threTick}}</p>
    </div> -->
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
