<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <script type="text/javascript" src="../../carousel.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
</head>
<body>
  <div ng-controller="mainCtrl">
    <nav ng-class="{'open': open}">
      <div class="align jsb">
        <svg ng-click="addBookmark()" style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z" />
        </svg>
        <form ng-submit="setProject(term)" class="align">
          <input type="text" ng-model="term" name="" value="">
          <button type="submit" style="display:none;" name="button"></button>
          <svg ng-click="setProject(term)" style="width:24px;height:24px;margin-right:0.5rem;" viewBox="0 0 24 24">
            <path fill="#000000" d="M8,7.71L18,12L8,16.29V12.95L15.14,12L8,11.05V7.71M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" />
          </svg>
        </form>
        <svg ng-click="open = !open" style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg>
      </div>
      <div ng-if="open" class="align">
        <br>
        <ul>
          <li class="align jsb" ng-repeat="mark in bookmarks" ng-click="setProject(mark)">
            {{mark}}
            <svg ng-click="remove(mark); $event.stopPropagation()" style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
            </svg>
          </li>
        </ul>
      </div>
    </nav>

    <div ng-click="open = false" ng-if="term !== 'home'">
      <iframe ng-src="{{currentProjectUrl}}"></iframe>
    </div>
    <div ng-if="term === 'home' || !currentProjectUrl" class="home">
      <img src="img.svg" style="width:auto; height: 50vh;" alt="">
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
