:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  overflow: hidden;
  margin: 0;
  background: dodgerblue;
  font-family: 'Raleway', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}


iframe{
  width: 100vw;
  height: 100vh;
}

nav{
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 25vw;
  margin: 0 auto;
  background: rgba(0,0,0,0.2);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-width: 200px;
  height: 2rem;
  transition: 1s all ease;
  opacity: 0.3;
}
nav:hover{
  opacity: 1;
}
nav input{
  padding: 0.5rem;
}
nav input, form {
  margin: 0 auto;
  min-width: 200px;
  text-align: center;
  background: transparent;
  outline: none;
  border: none;
}
form:hover{
  cursor: pointer;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.05);
}
.open{
  height: 200px;
  background: white;
  box-shadow: var(--level3);
  opacity: 1;
}

svg{
  cursor: pointer;
}

ul{
  padding: 0;
  margin: 0;
  width: 80%;
  margin: 0 auto;
}
li{
  cursor: pointer;
  border-bottom: 1px solid #dadada;
  width: 100%;
  list-style: none;
  padding: 0.5rem;
}
li:hover{
  background: rgba(0,0,0,0.05);
}

.home{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: dodgerblue;
  color: white;
  text-align: center;
  padding-top: 10%;
}
/* ng-animate */
/* .fade{
  transition:0.5s linear opacity;
}
.fade.ng-hide {
  opacity:0;
} */

/*flex*/
/*.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
}*/

/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

/*Card*/
/*.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
}

/*Fab*/
/*.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
}*/

/*Animation*/
@keyframes animation {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
.home {
  transform: translateY(-100vh);
  animation-name: animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  
}

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*random image + background*/
/*
background: url(https://picsum.photos/1400/1400/?random) no-repeat center center fixed;
background-size: cover;
*/
