:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*Quick start body*/
@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.svg#svgFontName') format('svg');
}

a{
  color: white;
  text-decoration: none;
  display: block;
}

*{
  position: relative;
}
.unrelative{
  position: unset;
}

.align{
  display: flex;
  align-items: center;
}
.jc{
  justify-content: space-around;
}
.pad{
  padding: var(--spacer);
}


.header{
  background: #3d334b;
  box-shadow: var(--level3);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0.5em;
}
.header-icon{
  height: 30px;
  width: auto;
}
/*Card*/
.card {
  background: #3d334b;
  border-radius: 2px;
  margin: var(--spacer);
  box-shadow: var(--level2);
  transition: var(--animation);
}
@keyframes sway {
  0% {
    background-position-x: -10px;
  }
  100%{
    background-position-x: 0px;
  }
}

.poster{
  animation-name: sway;
  animation-duration: 5s;
  animation-fill-mode: cubic-bezier(.33,.11,.02,.99);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  transform-origin: 20% 20%;
  background: url('https://cdn.dribbble.com/users/191949/screenshots/5370062/monster_illustration.jpg') center center no-repeat;
  background-size: cover;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  min-width: 33vw;
  min-height: 75vh;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
}

.card-content{
  min-height: 75vh;
}

.social-wrap{
  padding-top: 2em;
}

.cta-btn{
  background: linear-gradient(to bottom, #a944f4 0%,#7923fd 100%); 
  padding: var(--spacer);
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 10%;
  border: 10px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.s-item{
  width: 50px;
  height: 50px;
  background: red;
  text-align: center;
  line-height: 60px;
  box-shadow: var(--level1);
  cursor: pointer;
}

.ribbon{
  padding: var(--spacer);
  background: #221d26!important;
}

.content-tile{
  cursor: pointer;
  text-align: center;
  min-height: 300px;
  margin-bottom: var(--spacer)!important;
}
.tile-image{
  margin: 0 auto;
  height: 100px;
  width: auto;
}
.body-text{
  line-height: 2em;
}


@keyframes swing {
  0% {
    transform: scale(0.51) rotate(5deg);
  }
  100%{
    transform: scale(0.49) rotate(-5deg);
  }
}

.paralax{
  animation-name: swing;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: sticky;
  top: 60vh;
  width: 100%;
  transform: scale(0.5) rotate(10deg);
  filter: drop-shadow(5px,5px,5px, #000);
}

.footer{
  background: transparent!important;
  padding: 0 1em;
  padding-top: 200px;
  padding-bottom: 50px;
}

/*flex*/
.row{
  background: #302935;
}
.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  /*mobile*/
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  .poster{
    border-radius: 0!important;
  }
  .cta-btn{
    position: unset;
    margin: 2em;
  }
  .card{
    margin: 0;
  }
  .paralax{
    display: none;
  }
}
.new-body{
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  position: relative;
  align-items: center;
  min-height: 100vh;
  background-color: #d83649;
  overflow: hidden;
}
body:before, body:after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #302935;
  z-index: -1;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
body:before {
  bottom: 15vh;
  border-radius: 45%;
  animation-duration: 10s;
}
body:after {
  bottom: 12vh;
  opacity: .5;
  border-radius: 47%;
  animation-duration: 10s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
