:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;
  --gradient-part1: #a36cf3;
  --gradient-part2: #df72e8;
  --accent: orange;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*Quick start body*/
@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.svg#svgFontName') format('svg');
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}
nav{
  padding: var(--spacer);
}
.brand{
  font-family: 'Damion', cursive;
  font-weight: lighter;
  font-size: 2em;
}
.align{
  display: flex;
  align-items: center;
}
.jbetween{
  justify-content: space-between;
}
.jcent{
  justify-content: center;
}

.nl-input, .nl-btn{
  height: 30px;
  margin: 0;
  background: #222;
  color: #f5f5f5;
  outline: none;
  border: none;
}
.nl-input{
  padding-left: 0.5em;
  width: 200px;
}
.nl-btn{
  height: 32px;
  width: 50px;
  background: var(--gradient-part1);
  cursor: pointer;
}

.relative{
  position: relative;
}

.hero {
  position: relative;
  height: 75vh;
  color: white;
  background-image: linear-gradient(var(--gradient-part1), var(--gradient-part2));
  position: relative;
}
.hero::after {
  /* Fill is var(--gradient-part2) */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='#df72e8' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,100'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: -100px;
}
.hero .blurb{
  line-height: 1.5rem;
}
.hero-clipart{
  width: 100%;
  height: auto;
  filter: hue-rotate(30deg);
  position: relative;
  z-index: 100;
}
.util > a {
  margin:0 0.5rem;
  color: white!important;
  text-decoration: none;
}
.banner{
  background-image: linear-gradient(to top, var(--gradient-part1), var(--gradient-part2));
  margin:10% 0 0 0;
  color: white;
  min-height: 50vh;
}
.product-card{
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  box-shadow: var(--level2);
  transition: var(--animation);
  -webkit-transition: var(--animation);
  -moz-transition: var(--animation);
  min-height: 50vh;
  margin-top: -1rem;
  position: relative;
}
.prod-img{;
  position: relative;
  background: var(--accent);
  cursor: pointer;
}
.prod-img > img{
  position: absolute;
  left: -10%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: var(--animation);
  -webkit-transition: var(--animation);
  -moz-transition: var(--animation);
  transform-origin: center;
  filter: drop-shadow(15px 15px 5px rgba(0,0,0,0.3));
}
.prod-img:hover > img{
  transform: scale(1.1) rotate(2deg);

}
.prod-img::after{
  content: "New!";
  position: absolute;
  background: #333;
  color:white;
  font-size: 48px;
  min-width: 250px;
  text-align: center;
  transform-origin: center;
  transform: rotate(-5deg);
  bottom: -5px;
  right: -5px;
}
.prod-desc{
  padding: var(--spacer);
  text-align: left;
  color: black;
}
.button{
  outline: none;
  border:none;
  padding: 1rem 1.5rem;
  text-align: center;
  background: #f4e8fd;
  border-radius: 25px;
  min-width: 150px;
  box-shadow: var(--level1);
  cursor: pointer;
}
.shop-now{
  color: white;
  background: var(--accent);
}
.shop-later{
  color: var(--accent);
  background: white;
}

.pad{
  padding: var(--spacer);
}
.center{
  text-align: center;
}
.spacer{
  margin-top: 6%;
}
.subtext{
  opacity: 0.4;
}

.photo{
  top: 0;
  width: 90%;
  height: auto;
  position: relative;
  cursor: pointer;
}

.footer{
  background: #333;
  color:#f5f5f5;
  padding: 3rem 0;
}
.footer a{
  color: #f5f5f5;
  text-decoration: none;
  display: block;
}

/*flex*/
.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
  .content{
    margin-top: 8%;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  .hero-clipart{
    width: 50%;
    height: auto;
  }
  .blurb-wrap{
    text-align: center;
  }
  .content{
    margin-top: 40%;
  }
  .prod-img > img{
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
  }
  .footer .flex{
    text-align: center;
    margin: 0 auto;
  }
  .footer .align{
    margin-top:1rem;
  }
  .button{
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .hero-clipart{
    display: none;
  }
  .hero{
    height: 120vh;
  }
}

.gallery{
  margin: var(--spacer) 0;
}

/*Card*/
.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
  -webkit-transition: var(--animation);
  -moz-transition: var(--animation);
}
