<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <script type="text/javascript" src="../../carousel.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="wrap">
      <div class="row">
        <div class="flex pad">
          <ul rn-carousel rn-carousel-controls rn-carousel-index="index">
            <li ng-repeat="image in images">
              <img ng-src="{{image}}" alt="">
            </li>
          </ul>
          <br/>
          <div class="align jsb">
            <div class="thumb" ng-repeat="image in images">
              <img ng-click="applyIndex($index)" ng-src="{{image}}" alt="">
            </div>
          </div>
        </div>
        <div class="flex pad">
          <h1>Dolore: magna aliqua</h1>
          <div class="align" style="font-size:18px;">
            <p style="opacity: 0.5;text-decoration: line-through;">$49.99</p>
            &nbsp;
            <p>$59.99</p>
          </div>
          <br/>
          <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small>
          <br/>
          <br/>
          <div class="align">
            <input class="quantity" type="text" name="" value="1">
            <button class="cta" type="button" name="button">Add to cart</button>
          </div>
          <br/>
          <br/>
          <small>Category: <a href="#">Poster</a>, <a href="#">Print</a>, <a href="#">Artwork</a></small>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="flex x3 pad">
          <h4>Reviews</h4>
          <div class="rw" ng-repeat="rw in reviews">
            <b>{{rw.name}}</b>
            <br/>
            <small>{{rw.date}}</small>
            <p>{{rw.stars}}</p>
            <p>{{rw.desc}}</p>
          </div>
        </div>
        <aside class="flex pad">
          <h4>Similar</h4>
          <div class="rw prew align">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsSa9TrFdyqIFceDGtnVG-NTWkVvVWWumb5w&usqp=CAU" alt="">
            <div>
              <b>Globboglob</b>
              <br/>
              <small>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</small>
            </div>
          </div>
          <div class="rw prew align">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsSa9TrFdyqIFceDGtnVG-NTWkVvVWWumb5w&usqp=CAU" alt="">
            <div>
              <b>Blip blip-y</b>
              <br/>
              <small>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</small>
            </div>
          </div>
          <div class="rw prew align">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsSa9TrFdyqIFceDGtnVG-NTWkVvVWWumb5w&usqp=CAU" alt="">
            <div>
              <b>Salamander</b>
              <br/>
              <small>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</small>
            </div>
          </div>
        </aside>
      </div>
    </div>





</body>
<script type="text/javascript" src="app.js"></script>

</html>
