<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <script type="text/javascript" src="../../carousel.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="stage">
      <div class="align jsb slidewrap">
        <div class="slide" ng-class="{'left':slide === 0, 'middle':slide === 1, 'right':slide === 2,}">
          <p ng-if="slide === 0">INSIDE THE EIGHTH DIMENSION...</p>
          <p ng-if="slide === 1">I SEE YOU´VE COME <b>BACK</b> DEAR DOCTOR!</p>
          <p ng-if="slide === 2">
            YOU LEARN TO FOLLOW THE GUYS WHO ALWAYS SEEM TO KNOW WHERE THEY´RE HEADED.
            <div></div>
            <div></div>
            <div></div>
          </p>
        </div>
      </div>
      <ul class="menu" rn-carousel rn-carousel-index="slide" rn-carousel-transition="slide" rn-carousel-locked="active" rn-carousel-controls-allow-loop="true">
        <li ng-dblclick="toggleActive()">
          <img src="https://www.kraken.com/_assets/files/2019-01/kraken_body01_final_01/orig.png" alt="">
        </li>
        <li ng-dblclick="toggleActive()">
          <img src="https://www.kraken.com/_assets/files/2019-04/intermediate3/orig.png" alt="">
        </li>
        <li ng-dblclick="toggleActive()">
          <img src="https://i-love-png.com/images/kraken_body03_final_01.png" alt="">
        </li>
      </ul>
    </div>

        <!-- <ul rn-carousel>
          <li></li>
        </ul> -->
        
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
