:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.jsc{
  justify-content: center;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}

h2{
  font-size: 20px;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.35;
 letter-spacing: 0.52px;
}

.overlay {
  min-height: 500px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
    background-image: linear-gradient(to top, #ff3926, #df1044);
}

.card{
  border-radius: 4px;
  box-shadow: 0 -15px 30px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #efefef;
  background-color: #ffffff;
  width: 54vw;
  min-height: 360px;
  margin: 0 auto;
  position: relative;
  top: 24px;
  left: 0;
  right: 0;
  margin-bottom: 200px;
}
.content{
  width: 54vw;
  margin: 0 auto;
}

input{
  width: 286px;
  height: 42px;
border-radius: 2px;
border: solid 1px #cacaca;
background-color: #ffffff;
}

.ft{
  margin-top: 200px;
  background: #333;
  min-height: 250px;
}

nav{
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  box-shadow: 0 -15px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 0;
}

.cta {
  width: 300px;
  height: 65px;
  border-radius: 4px;
  background-color: #1bac5e;
  line-height: 65px;
  color: white;
  font-weight: bold;
}

.botbar{
  background: white;
  box-shadow: 0 -15px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 0;
}

@media screen and (max-width: 718px){
  .card{
    width: 94vw;
    margin: 0 2vw;
    margin-bottom: 200px;
  }
  .botbar{
    flex-wrap: wrap;
  }
  .wrap{
    width: 96vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cta{
    height: 41px;
    line-height: 41px;
    width: 96vw;
    margin: 5px 0;
  }
  .content{
    width: 94vw;
    margin: 0 2vw;
  }
}
