<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../angular-animate.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
</head>
<body>
  <!-- https://www.uplabs.com/posts/twitch-redesign-concept -->
  <div ng-controller="mainCtrl">
    <div class="row" ng-if="!signedIn" ng-cloak>
      <div class="flex">
        <div class="stage">
          <div class="row align padding">
            <img src="https://d1dq9tiesi76an.cloudfront.net/pub/media//fermion/images/wallpapers/img/leagend-of-cranes-mobile-wallpaper.jpg" class="flex poster" alt="">
            <div class="flex x2">
              <div class="spacer">
                <h3>Lorem ipsum dolor sit amet, anim id est laborum. Consectetur adipisicing elit, velit</h3>
                <br>
                <input type="text" name="" placeholder="  Username" value="">
                <br>
                <input type="password" name="" placeholder="  Password" value="">
                <br>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, velit esse cillum dolore eu fugiat nulla pariatur.</small>  
                <br>
                <br>
                <button type="button" class="cta" name="button" ng-click="login();">
                  <div ng-if="loading" ng-cloak class="spinner"></div>
                  <span ng-if="!loading" ng-cloak>Sign in</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="signedIn">
      <div class="row">
        <div class="flex sidebar">
          <div class="center" style="padding: 0 2em;">
            <p style="font-size:18px;font-weight:bold;">Brand</p>
            <br>
            <button type="button" class="cta" disabled style="background:#52299e;" name="button">
              <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                <path fill="#fff" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H19V21H12V23H18A3,3 0 0,0 21,20V10C21,5 16.97,1 12,1Z" />
              </svg>
              Online
            </button>
            <br>
            <ul class="menu">
              <li class="align jsb">
                <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                  <path fill="#fff" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H19V21H12V23H18A3,3 0 0,0 21,20V10C21,5 16.97,1 12,1Z" />
                </svg>
                Settings
                <span></span>
                <span></span>
              </li>
              <li class="align jsb">
                <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                  <path fill="#fff" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H19V21H12V23H18A3,3 0 0,0 21,20V10C21,5 16.97,1 12,1Z" />
                </svg>
                Settings
                <span></span>
                <span></span>
              </li>
              <li class="align jsb">
                <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                  <path fill="#fff" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H19V21H12V23H18A3,3 0 0,0 21,20V10C21,5 16.97,1 12,1Z" />
                </svg>
                Settings
                <span></span>
                <span></span>
              </li>
              <li class="align jsb">
                <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                  <path fill="#fff" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H19V21H12V23H18A3,3 0 0,0 21,20V10C21,5 16.97,1 12,1Z" />
                </svg>
                Settings
                <span></span>
                <span></span>
              </li>
              <li class="align jsb">
                <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                  <path fill="#fff" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H19V21H12V23H18A3,3 0 0,0 21,20V10C21,5 16.97,1 12,1Z" />
                </svg>
                Settings
                <span></span>
                <span></span>
              </li>
              <li class="align jsb">
                <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                  <path fill="#fff" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H19V21H12V23H18A3,3 0 0,0 21,20V10C21,5 16.97,1 12,1Z" />
                </svg>
                Settings
                <span></span>
                <span></span>
              </li>
            </ul>
            <br>
          </div>
          <ul class="friendlist">
            <div class="fab">
              <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                <path fill="#fff" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
              </svg>
            </div>
            <br>
            <br>
            <li class="align">
              <img class="friend-avatar on" src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
              &nbsp;
              &nbsp;
              &nbsp;
              <span>
                <strong>MrMrMart</strong><br>
                <span>In game</span><br>
                <small>CS:GO</small>
              </span>
              <span></span>
              <span></span>
            </li>
            <li class="align">
              <img class="friend-avatar on" src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
              &nbsp;
              &nbsp;
              &nbsp;
              <span>
                <strong>DankStar133</strong><br>
                <span>In game</span><br>
                <small>DOTA2</small>
              </span>
              <span></span>
              <span></span>
            </li>
            <li class="align">
              <img class="friend-avatar off" src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
              &nbsp;
              &nbsp;
              &nbsp;
              <span>
                <strong>DogeZ</strong><br>
                <span>Online</span><br>
                <small></small>
              </span>
              <span></span>
              <span></span>
            </li>
            <li class="align">
              <img class="friend-avatar" src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
              &nbsp;
              &nbsp;
              &nbsp;
              <span>
                <strong>DanielSan</strong><br>
                <span>Offline</span><br>
                <small>Game</small>
              </span>
              <span></span>
              <span></span>
            </li>
          </ul>
        </div>
        <div class="flex x6 stage-2">
          <nav class="align jsb">
            <span style="display:inline-flex;">
              <input class="search" type="text" placeholder="Search" name="" value="">
              &nbsp;
              &nbsp;
              <button type="button" class="cta" style="padding: 0.5em 1em" name="button">Shop</button>
            </span>
            <span class="align">
              <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                  <path fill="#fff" d="M5,16L3,5L8.5,12L12,5L15.5,12L21,5L19,16H5M19,19A1,1 0 0,1 18,20H6A1,1 0 0,1 5,19V18H19V19Z" />
              </svg>
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                  <path fill="#fff" d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" />
              </svg>
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                  <path fill="#fff" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
              </svg>
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              <span class="align">
                <span style="text-align:right;">
                  <strong>MrCool</strong> <br>
                  <small>1123</small>
                </span>
                
                <img class="friend-avatar" style="transform:scale(0.9);border-radius:5px;" src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
              </span>
            </span>
          </nav>
          <h3>Top games</h3>
          <div class="fluid-row">
            <div class="fluid-flex">
            1
            </div>
            <div class="fluid-flex">
            1
            </div>
            <div class="fluid-flex">
            1
            </div>
          </div>
          <h3>All games</h3>
          <div class="fluid-row dense">
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
            <div class="fluid-flex">
              <img src="https://upload.wikimedia.org/wikipedia/pt/2/28/Doom_Cover.jpg" alt="">
              <strong>DOOM 2016</strong> <br>
              <small>2000 playing</small>
            </div>
          </div>
        </div>
      </div>
      <div class="background-color"></div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
