:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #111;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
  overflow: hidden;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}

h3{
  font-weight: lighter;
}

.spinner{
  width: 15px;
  height: 15px;
  border: 1px solid transparent;
  border-top: 1px solid white;
  margin: 0 auto;
  border-radius: 50%;
  animation: spin;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  transform-origin: center;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
  cursor: pointer;
  padding-top: 1em;
}
.fluid-flex img{
  width: 100%;
  height: auto;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(11%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
/*flex*/
.flex{
  flex-basis: 100%;
}
.x2{
  flex-basis: 25%!important;
}
.x3{
  flex-basis: 50%!important;
}
.x6{
  flex-basis: 70%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  .stage{
    margin:0%!important;
  }
  .spacer {
    margin: 0 20%;
  }
  .poster {
    width: 100%!important;
  }
}

.cta{
  background: #6441a4;
  border: 0;
  width: 100%;
  transition: var(--animation);
  color: white;
  padding: 1em;
  border-radius: 5px;
  font-size: 18px!important;
  outline: none;
  cursor: pointer;
}
.cta:focus{
  outline: 1px solid white;
  filter: brightness(1.1);
}
.stage{
  margin: 3% 15%;
  background: #25222d;
  box-shadow: var(--level3);
}
.stage input{
  width: 100%;
  outline: none;
  border: 0;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1.5em 0;
  color: white;
  background: #1f1d24;
}
.stage-2{
  padding: 1em 2em;
  overflow-y: auto;
  max-height: 100vh;
}
.padding{
  min-height: 50vh;
}
.spacer{
  margin: 0 20%;
}
.poster{
  max-height: 80vh;
  filter: hue-rotate(90deg);
}

.background-color{
  background: #25222d;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.sidebar{
  overflow-y: hidden;
  height: 100vh;
  background: #6441a4;
  font-size: 14px;
  font-weight: lighter;
}

.menu{
  padding: 0;
}
.menu li{
  user-select: none;
  padding: 0.5em 0;
  margin: 1em 0;
  list-style: none;
  opacity: 0.5;
  border-right: 2px solid transparent;
}
.menu li:hover{
  opacity: 1;
  cursor: pointer;
}

.friendlist{
  position: relative;
  padding: 0;
  background:#52299e;
}
.friendlist li{
  list-style: none;
  padding: 1em 2em;
}
.friend-avatar{
  width: 3em;
  height: 3em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.on{
  border: 2px solid #4cdb05;
}
.off{
  border: 2px solid #ff4b4b;
}

.search{
  background: #1f1d24;
  border: 0;
  outline: 0;
  padding-left: 1em;
  min-width: 250px;
  border-radius: 5px;
  color: white;
}

nav{
  padding: 0.5em;
}
/*Card*/
/*.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
}

/*Fab*/
.fab{
  cursor: pointer;
    background:#52299e;
    width:18px;
    height: 18px;
    padding:10px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -18px;
}

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*background*/
/*
background: url(http://lorempixum.com/1440/900/sports) no-repeat center center fixed;
background-size: cover;
*/
