#container canvas {
  height: 300px;
  width: 300px;
  position: absolute;
  /* outline: 3px solid magenta; */
  z-index: 100;
  right: -5rem;
  top: 0px;
  pointer-events: none;
}
/* mobile */
@media screen and (max-width: 768px) {
  .stage{
    transform: scale(0.5);
  }

#container canvas{
    width: 50vw!important;
    height: 100vh!important;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
}
