<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="parallax.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="avatars.css" media="screen" title="no title" charset="utf-8">
  <!-- <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8"> -->
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <!-- <script type="text/javascript" src="../../carousel.js"></script> -->
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/86/three.min.js'></script>
</head>
<body>
  <div class="mainC" ng-controller="mainCtrl" ng-cloak>

    <div ng-cloak class="toolbar align">
      <div class="align" ng-click="viewManager('mapView')" style="cursor:pointer" >
        <svg ng-cloak ng-if="view !== 'mapView'" style="width:1rem;height:1rem" viewBox="0 0 24 24">
          <path fill="#fff" d="M9,3L3.36,4.9C3.15,4.97 3,5.15 3,5.38V20.5A0.5,0.5 0 0,0 3.5,21L3.66,20.97L9,18.9L15,21L20.64,19.1C20.85,19.03 21,18.85 21,18.62V3.5A0.5,0.5 0 0,0 20.5,3L20.34,3.03L15,5.1L9,3M8,5.45V17.15L5,18.31V6.46L8,5.45M10,5.47L14,6.87V18.53L10,17.13V5.47M19,5.7V17.54L16,18.55V6.86L19,5.7M7.46,6.3L5.57,6.97V9.12L7.46,8.45V6.3M7.46,9.05L5.57,9.72V11.87L7.46,11.2V9.05M7.46,11.8L5.57,12.47V14.62L7.46,13.95V11.8M7.46,14.55L5.57,15.22V17.37L7.46,16.7V14.55Z" />
        </svg>
        <svg ng-cloak ng-if="view === 'mapView'" style="width:1rem;height:1rem" viewBox="0 0 24 24">
          <path fill="#fff" d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
        </svg>
        &nbsp;
        Map
      </div>
      &nbsp;
      |
      &nbsp;
      <div class="align" ng-click="viewManager('perkView')" style="cursor:pointer" >
        <svg ng-cloak ng-if="view !== 'perkView'" style="width:1rem;height:1rem" viewBox="0 0 24 24">
          <path fill="#fff" d="M9,3L3.36,4.9C3.15,4.97 3,5.15 3,5.38V20.5A0.5,0.5 0 0,0 3.5,21L3.66,20.97L9,18.9L15,21L20.64,19.1C20.85,19.03 21,18.85 21,18.62V3.5A0.5,0.5 0 0,0 20.5,3L20.34,3.03L15,5.1L9,3M8,5.45V17.15L5,18.31V6.46L8,5.45M10,5.47L14,6.87V18.53L10,17.13V5.47M19,5.7V17.54L16,18.55V6.86L19,5.7M7.46,6.3L5.57,6.97V9.12L7.46,8.45V6.3M7.46,9.05L5.57,9.72V11.87L7.46,11.2V9.05M7.46,11.8L5.57,12.47V14.62L7.46,13.95V11.8M7.46,14.55L5.57,15.22V17.37L7.46,16.7V14.55Z" />
        </svg>
        <svg ng-cloak ng-if="view === 'perkView'" style="width:1rem;height:1rem" viewBox="0 0 24 24">
          <path fill="#fff" d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
        </svg>
        &nbsp;
        Stats
      </div>
    </div>

    <div ng-cloak ng-if="currentScenario.mapHint" class="follower-box">
      <div class="align follower" ng-repeat="follower in followers" ng-if="follower.following && follower.canSpeak" ng-click="talkToFollower(follower)">
        <img class="follower-avatar" src="{{follower.portrait}}" alt="">
        {{follower.name}}
      </div>
    </div>

    <div ng-cloak class="viewBox" ng-if="view !== null">
      <div class="map-view" ng-if="view === 'mapView'">
        <img src="img/places/map.jpg" alt="">
        <span class="map-marker align" ng-if="currentRegion.mapNodes.includes(region.short)" ng-repeat="region in regions" ng-style="{{region.position}}" id="marker-{{region.short}}" ng-class="{'current-region': currentRegion === region}" ng-click="pickRegionFromMap(region)">
          <img style="width:24px; height:24px;" src="{{region.mapIcon}}" alt="">
          <aside>{{region.name}}</aside>
        </span>
      </div>
      <div class="perk-view" ng-if="view === 'perkView'">
        <div class="row">
          <div class="flex">
            <div class="card invisi-card">
              <h3>Stats</h3>
              <hr/>
              <div class="align jsb">
                <div class="center">
                  <p>{{stats.dex}}</p>
                  DEX
                </div>
                <div class="center">
                  <p>{{stats.str}}</p>
                  STR
                </div>
                <div class="center">
                  <p>{{stats.int}}</p>
                  INT
                </div>
                <div class="center">
                  <p>{{stats.wis}}</p>
                  WIS
                </div>
                <div class="center">
                  <p>{{stats.con}}</p>
                  CON
                </div>
                <div class="center">
                  <p>{{stats.cha}}</p>
                  CHA
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="flex card invisi-card">
            <h3>Quests</h3>
            <span>Whenever you learn a skill or something important happens its noted here.</span>
            <div class="card" ng-repeat="key in questFlags.keyList | orderBy:'title'" ng-if="questFlags[key].active && questFlags[key].desc">
              <h2>{{questFlags[key].title}}</h2>
              <p>{{questFlags[key].desc}}</p>
            </div>
          </div>
          <div class="flex card invisi-card">
            <h3>Factions</h3>
            <span>Shows the rating you have with factions you helped or hindered.</span>
            <details class="card pointer" ng-repeat="faction in factions" ng-if="faction.rep > 0">
              <summary class="align jsb">
                <span>Rep: {{faction.rep}} </span>
                <b class="align">
                  <img class="faction-icon" ng-if="faction.icon" ng-src="{{faction.icon}}" title="{{faction.title}}">
                  {{faction.title}}
                </b>
              </summary>
              <br/>
              <span ng-bind-html='toTrustedHTML( faction.desc )'></span>
            </details>
          </div>
        </div>
      </div>
    </div>

    <div class="wrap">

      <div ng-cloak class="wiki-modal" ng-show="wikiModal">
        <div class="align pointer" ng-click="wikiModal = ''">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
          </svg>
          &nbsp;
          <span>Wiki</span>
        </div>
        <span ng-bind-html='toTrustedHTML( wikiModal )'></span>
        <button class="wide-btn" type="button" ng-click="wikiModal = ''" name="button">Close</button>
      </div>

      <p ng-if="toast" ng-cloak class="toast">{{toast}}</p>

      <div class="dice-overlay" ng-if="diceRollToast">
        <div class="dice {{diceRollResult}}">
          <span>{{diceRollToast}}</span>
          <img src="img/ui/dice.svg" alt="">
          <p>{{diceRollResult}}</p>
        </div>
      </div>

      <div class="shadow-box">
        <div class="threedee">
          <div class="md-layer">
            <!-- <input type="number" ng-model="pos.x" steps="1">
            <input type="number" ng-model="pos.y" steps="1"> -->
            <div id="pupeteer"></div>
            <div ng-class="{'invisi': !currentScenario.speaker || eventText}" ng-cloak id="container"></div>
            <p ng-cloak class="align" ng-if="currentScenario.speaker.name">
              <img class="faction-icon" ng-cloak ng-if="currentScenario.speaker.faction" ng-src="{{factions[currentScenario.speaker.faction].icon}}" title="{{factions[currentScenario.speaker.faction].title}}">
              {{currentScenario.speaker.name}}
            </p>
          </div>

          <img class="bg-layer" ng-src="{{currentRegion.background}}" alt="">

          <div class="talkbox fg-layer" ng-if="eventText || currentScenario.text">
            <div ng-if="!currentScenario.done && !eventText">
              <p ng-if="currentScenario.text" class="description" ng-bind-html='toTrustedHTML( currentScenario.text )'></p>
              <button class="wide-btn" ng-if="currentScenario.mapHint"  ng-click="viewManager('mapView')">
                <svg ng-cloak ng-if="view !== 'mapView'" style="width:1rem;height:1rem" viewBox="0 0 24 24">
                  <path fill="#fff" d="M9,3L3.36,4.9C3.15,4.97 3,5.15 3,5.38V20.5A0.5,0.5 0 0,0 3.5,21L3.66,20.97L9,18.9L15,21L20.64,19.1C20.85,19.03 21,18.85 21,18.62V3.5A0.5,0.5 0 0,0 20.5,3L20.34,3.03L15,5.1L9,3M8,5.45V17.15L5,18.31V6.46L8,5.45M10,5.47L14,6.87V18.53L10,17.13V5.47M19,5.7V17.54L16,18.55V6.86L19,5.7M7.46,6.3L5.57,6.97V9.12L7.46,8.45V6.3M7.46,9.05L5.57,9.72V11.87L7.46,11.2V9.05M7.46,11.8L5.57,12.47V14.62L7.46,13.95V11.8M7.46,14.55L5.57,15.22V17.37L7.46,16.7V14.55Z" />
                </svg>
                &nbsp;
                Open map screen
              </button>
              <br/>
              <ol ng-class="{'optionLock': optionLock }">
                <li ng-repeat="option in currentScenario.actions" ng-if="!option.visibleWhen || $eval(option.visibleWhen)" ng-class="{'alreadyTakenOption': option.actionProps.smallTalkActionTaken}">
                  <div tabindex="0" class="option pointer align" ng-class="{'perkOption': $eval(option.visibleWhen)}" ng-click="option.action(option.actionProps, setScope, getScope)">
                    {{option.label}}
                  </div>
                </li>
              </ol>

            </div>

            <div ng-if="eventText">
              <!-- Ending -->
              <p class="description" ng-bind-html='toTrustedHTML( eventText )'></p>
              <br/>
              <ol>
                <li class="option pointer" ng-click="wrapUpAndPickNext()">
                  [Proceed]
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="stats">
      <div class="align">
        <p>HP: {{stats.hp}}</p>
        &nbsp;
        |
        &nbsp;
        <p>{{inventory.gold}} gold</p>
        &nbsp;
        |
        &nbsp;
        <p>Region: {{currentRegion.name}}</p>
      </div>
    </div>

  </div>
</body>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="questToggles.js"></script>
<script type="text/javascript" src="mapMarkers.js"></script>
<script type="text/javascript" src="actionService.js"></script>
<script type="text/javascript" src="wikiSercive.js"></script>
<script type="text/javascript" src="scenarios/followers/scenarioHenry.js"></script>
<script type="text/javascript" src="scenarios/followers/scenarioBoblin.js"></script>
<script type="text/javascript" src="scenarios/scenarioBasic.js"></script>
<script type="text/javascript" src="scenarios/scenarioMountain.js"></script>
<script type="text/javascript" src="scenarios/scenarioMug.js"></script>

<script type="module">
  import * as THREE from 'https://threejs.org/build/three.module.js';
  import { OrbitControls } from 'https://threejs.org/examples/jsm/controls/OrbitControls.js';
  import { GLTFLoader } from 'https://threejs.org/examples/jsm/loaders/GLTFLoader.js';

  let scene, renderer, camera;
  let model, skeleton, mixer, clock;

  const crossFadeControls = [];

  let currentBaseAction = 'idle';
  const allActions = [];
  let baseActions = {
    idle: { weight: 1 },
    walk: { weight: 0 },
    run: { weight: 0 }
  };
  let additiveActions = {
    sneak_pose: { weight: 0 },
    sad_pose: { weight: 0 },
    agree: { weight: 0.5 },
    headShake: { weight: 0.5 }
  };
  let panelSettings, numAnimations;

  // init();
  scene = new THREE.Scene();

  function init() {

    const container = document.getElementById( 'container' );
    clock = new THREE.Clock();
    scene.background = null

    const dirLight = new THREE.DirectionalLight( 0xffffff );
    dirLight.position.set( 3, 10, 10 );
    dirLight.castShadow = true;
    dirLight.shadow.camera.top = 2;
    dirLight.shadow.camera.bottom = - 2;
    dirLight.shadow.camera.left = - 2;
    dirLight.shadow.camera.right = 2;
    dirLight.shadow.camera.near = 0.1;
    dirLight.shadow.camera.far = 40;
    scene.add( dirLight );

    const loader = new GLTFLoader();
    loader.load( 'https://threejs.org/examples/models/gltf/Xbot.glb', function ( gltf ) {
      model = gltf.scene;
      scene.add( model );
      model.traverse( function ( object ) {
        if ( object.isMesh ) object.castShadow = true;
      } );
      skeleton = new THREE.SkeletonHelper( model );
      skeleton.visible = false;
      scene.add( skeleton );
      const animations = gltf.animations;
      mixer = new THREE.AnimationMixer( model );
      numAnimations = animations.length;
      for ( let i = 0; i !== numAnimations; ++ i ) {
        let clip = animations[ i ];
        const name = clip.name;
        if ( baseActions[ name ] ) {
          const action = mixer.clipAction( clip );
          activateAction( action );
          baseActions[ name ].action = action;
          allActions.push( action );
        } else if ( additiveActions[ name ] ) {
          // Make the clip additive and remove the reference frame
          THREE.AnimationUtils.makeClipAdditive( clip );
          if ( clip.name.endsWith( '_pose' ) ) {
            clip = THREE.AnimationUtils.subclip( clip, clip.name, 2, 3, 30 );
          }
          const action = mixer.clipAction( clip );
          activateAction( action );
          additiveActions[ name ].action = action;
          allActions.push( action );
        }
      }
      animate();
    } );
    renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
    renderer.setPixelRatio( window.devicePixelRatio );
    renderer.setSize( window.innerWidth/2, window.innerHeight );
    renderer.outputEncoding = THREE.sRGBEncoding;
    renderer.shadowMap.enabled = true;
    container.appendChild( renderer.domElement );
    // camera
    camera = new THREE.PerspectiveCamera( 45, window.innerWidth/2 / window.innerHeight, 1, 100 );
    camera.position.set( 0.8, 1, 2.3 );
    //ctrls
    const controls = new OrbitControls( camera, renderer.domElement );
    controls.enablePan = false;
    controls.enableZoom = false;
    controls.enableRotate = false;
    controls.target.set( 0, 1, 0 );
    controls.update();
    window.addEventListener( 'resize', onWindowResize );
  }

  function activateAction( action ) {
    const clip = action.getClip();
    const settings = baseActions[ clip.name ] || additiveActions[ clip.name ];
    setWeight( action, settings.weight );
    action.play();
  }

  function modifyTimeScale( speed ) {
    mixer.timeScale = speed;
  }

  function prepareCrossFade( startAction, endAction, duration ) {
    // If the current action is 'idle', execute the crossfade immediately;
    // else wait until the current action has finished its current loop
    if ( currentBaseAction === 'idle' || ! startAction || ! endAction ) {
      executeCrossFade( startAction, endAction, duration );
    } else {
      synchronizeCrossFade( startAction, endAction, duration );
    }

    // Update control colors
    if ( endAction ) {
      const clip = endAction.getClip();
      currentBaseAction = clip.name;
    } else {
      currentBaseAction = 'None';
    }

    crossFadeControls.forEach( function ( control ) {
      const name = control.property;
      if ( name === currentBaseAction ) {
        control.setActive();
      } else {
        control.setInactive();
      }
    } );
  }

  function synchronizeCrossFade( startAction, endAction, duration ) {
    mixer.addEventListener( 'loop', onLoopFinished );
    function onLoopFinished( event ) {
      if ( event.action === startAction ) {
        mixer.removeEventListener( 'loop', onLoopFinished );
        executeCrossFade( startAction, endAction, duration );
      }
    }
  }

  function executeCrossFade( startAction, endAction, duration ) {
    // Not only the start action, but also the end action must get a weight of 1 before fading
    // (concerning the start action this is already guaranteed in this place)
    if ( endAction ) {
      setWeight( endAction, 1 );
      endAction.time = 0;
      if ( startAction ) {
        // Crossfade with warping
        startAction.crossFadeTo( endAction, duration, true );
      } else {
        // Fade in
        endAction.fadeIn( duration );
      }
    } else {
      // Fade out
      startAction.fadeOut( duration );
    }
  }

  // This function is needed, since animationAction.crossFadeTo() disables its start action and sets
  // the start action's timeScale to ((start animation's duration) / (end animation's duration))
  function setWeight( action, weight ) {
    action.enabled = true;
    action.setEffectiveTimeScale( 1 );
    action.setEffectiveWeight( weight );
  }

  function onWindowResize() {
    camera.aspect = window.innerWidth/2 / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize( window.innerWidth/2, window.innerHeight );
  }

  function animate() {
    // Render loop
    requestAnimationFrame( animate );
    for ( let i = 0; i !== numAnimations; ++ i ) {
      const action = allActions[ i ];
      const clip = action.getClip();
      const settings = baseActions[ clip.name ] || additiveActions[ clip.name ];
      settings.weight = action.getEffectiveWeight();
    }

    // Get the time elapsed since the last frame, used for mixer update
    const mixerUpdateDelta = clock.getDelta();
    mixer.update( mixerUpdateDelta );
    renderer.render( scene, camera );
  }

  // watch pupeteer
  let mList = document.getElementById('pupeteer'),
  options = {
    attributes: true
  },
  observer = new MutationObserver(mCallback);
  function mCallback(mutations) {
    for (let mutation of mutations) {
      if (mutation.type === 'attributes') {
        var tempBaseActions = document.getElementById("pupeteer").getAttribute("baseActions");
        var tempAdditiveActions = document.getElementById("pupeteer").getAttribute("additiveActions");
        if(tempBaseActions || tempAdditiveActions){
          // empty scene
          console.log("dispose renderer!"),scene.traverse(e=>{if(e.isMesh)if(console.log("dispose geometry!"),e.geometry.dispose(),e.material&&e.material.isMaterial)cleanMaterial(e.material);else for(const o of e.material)cleanMaterial(o)});const cleanMaterial=e=>{console.log("dispose material!"),e.dispose();for(const o of Object.keys(e)){const s=e[o];s&&"object"==typeof s&&"minFilter"in s&&(console.log("dispose texture!"),s.dispose())}};

          console.log(scene, 'pupeteer params updated', 'baseActions: ', tempBaseActions, 'additiveActions: ', tempAdditiveActions );

          baseActions = {
            idle: { weight: 1 },
            walk: { weight: 0 },
            run: { weight: 0 }
          };
          additiveActions = {
            sneak_pose: { weight: 0 },
            sad_pose: { weight: 0 },
            agree: { weight: 0 },
            headShake: { weight: 0.5 }
          };

          // baseActions[tempBaseActions].weight = 1;
          // additiveActions[tempAdditiveActions].weight = 1;


          init();
          animate();
        }
      }
    }
  }
  observer.observe(mList, options);

</script>


</html>
