<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <!-- <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8"> -->
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <!-- <script type="text/javascript" src="../../carousel.js"></script> -->
  <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div ng-controller="mainCtrl">
      
      <div ng-if="!currentScenario.done && !eventText">
        {{currentScenario.text}}
        <div ng-repeat="option in currentScenario.actions">
          <button ng-click="option.action(option.actionProps, setScope, getScope)">{{option.label}}</button> 
        </div>
      </div>
      
      <div ng-if="eventText">
        <!-- Ending -->
        {{eventText}}
        <br/>
        <button type="button" ng-click="wrapUpAndPickNext()" name="button">OK</button>
      </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="actionService.js"></script>
<script type="text/javascript" src="scenarioBasic.js"></script>

</html>
