:root {
  --x: 0;
  --y: 0;
}

.shadow-box {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: red; */
  overflow: hidden;
}
.shadow-box *{
  transform-style: preserve-3d;
}
.threedee{
  transform-origin: center;
  transform: rotateX(var(--y)) rotateY(var(--x));
}

.bg-layer{
  width: auto;
  margin-top: 30px;
  height: 100vh;
  background-position: center;
  /* min-height: 100vh; */
  z-index: -1;
  background-size: cover;
}

/* .fl-layer{
  position: fixed;
  bottom: 5rem;
  left: -10vw;
  right: -10vw;
  height: 100vh;
  transform-origin: bottom;
  transform: rotateX(74deg) translateY(45rem);
  background: url('https://www.goodtextures.com/cache/4c7615bf/av8fa2f0ff83ca54e5123.jpg');
  z-index: 1;
} */


.md-layer{
  position: absolute;
  bottom: 0px;
  top: 135px;
  left: 10%;
  right: 10%;
  transform: translateZ(10rem);
}

.fg-layer{
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 10%;
  transform: translateZ(20rem);
}
