:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: black;
  font-family: 'Khula', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
  overflow-x: hidden;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
p{
  margin: 0;
  padding: 0;
}
.relative{
  position: relative;
}

em{
  color: #cacaca;
  font-style: italic;
  display: block;
  /* font-style: normal; */
}
ol{
  margin: 0 0.5rem;
}

.speaker-name-tag{
  color: white;
  position: absolute;
  padding: 1rem;
  z-index: 100;
  top: 1rem;
  left: 100%;
  right: -12rem;
  margin: 0 auto;
  font-size: 18px;
  /* filter: drop-shadow(-2px 2px 0px #000); */
  animation: slide-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.speaker-name-tag::before{
  content: " ";
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #333 16%, #333 60%, rgba(148,187,233,0) 100%);
  position: absolute;
  left: -1rem;
  right: 0;
  top: 10px;
  bottom: 10px;
  z-index: -1;
  /* transform: skewX(20deg); */
}
.faction-icon{
  width: 32px!important;
  height: auto!important;
  margin-right: 0.5rem;
}

.option{
  color: #999;
}
.option:hover{
  color: white;
}
/* .perkOption{
  color: cyan;
} */
.optionLock{
  cursor: not-allowed;
  pointer-events: none;
}
.alreadyTakenOption{
  pointer-events: none;
  opacity: 0.6;
  text-decoration: line-through;
}
.toast{
  animation: slide-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: fixed;
  top: 110px;
  right: 0;
  padding: 1rem;
  z-index: 20;
  border: 1px solid #cacaca;
  background: #222;
  color: #fff;
}
.dice-overlay{
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 25;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
}
.dice > span{
  position: absolute;
  left: 0;
  right: 0;
  top: 26px;
  z-index: 10;
  font-weight: bold;
  color: black;
}

.fail{filter: drop-shadow(0px 0px 60px red);}
.pass{filter: drop-shadow(0px 0px 60px lime);}
.crit{filter: drop-shadow(0px 0px 60px white);}

.dice > p{
  animation: slide-up 0.3s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  width: 100px;
  height: 1rem;
  margin: 0 auto;
  padding: 1rem;
  background: #333;
  text-align: center;
  position: absolute;
  bottom: -3rem;
  line-height: 1rem;
  text-transform: capitalize;
}
.dice-overlay .dice{
  transform-origin: center;
  animation: slide-dice 0.2s 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: relative;
  width: 80px;
  height: 80px;
  top: 15%;
  display: flex;
  justify-content: center;
}
.stats{
  background: #222;
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 1rem;
}
.description{
  padding: 1rem 2rem;
  line-height: 1.8rem;
  white-space: pre-line;
}
.wrap{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}
.talkbox{
  background: #222;
  outline: 1px solid #cacaca;
  color: #fff;
  height: 30vh;
  width: 66vw;
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
}
.talkbox ol{
  margin-bottom: 2rem;
}

@keyframes fade-in-bck {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.follower-box{
  position: absolute;
  animation: slide-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  top: 6rem;
  z-index: 100;
}
.follower{
  background: white;
  margin-top: 0.5rem;
  color: black;
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 1000px;
}
.follower-avatar{
  height: 45px;
  width: 45px;
}

.info{
  color: tomato;
  opacity: 0.8;
  display: inline;
  text-decoration: none;
}
.info:hover{
  opacity: 1;
}

.wiki-modal{
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  padding-top: 0;
  z-index: 110;
  background: black;
  color: white;
  overflow-y: auto;
  white-space: pre-line;
  animation: slide-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.wiki-modal h1,
.wiki-modal h2,
.wiki-modal h3{
  margin: 0;
}
.wiki-modal img{
  width: 100%;
  height: auto;
}
.wide-btn{
  width: 100%;
  margin: 2rem 0;
  background: #666;
  padding: 1rem;
  color: white;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar{
  padding: 5px 1rem;
  background: black;
  height: 2rem;
  position: relative;
  z-index: 2;
  color: white;
}
.viewBox{
  animation: slide-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  background: black;
  height: 100vh;
  z-index: 100;
  color: white;
  margin: 0 auto;
}

.map-view{
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}
.perk-view{
  overflow-y: auto;
  max-height: 90vh;
}

.lockpick-modal{
  padding: 1rem;
  min-height: 20vw;
  position: absolute;
  background: black;
  color: white;
  top: 25vh;
  right: 1rem;
  left: 1rem;
  margin: 0 auto;
  z-index: 10;
}

.card{
  border-left: 1rem solid #cacaca;
  border-bottom: 2px solid #cacaca;
  padding: 1rem;
  margin: 1rem;
}
.invisi{
  opacity: 0;
}
.invisi-card{
  border: none;
  background: none;
}
.card h2, .card h3{
  margin: 0;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-dice {
  0% {
    opacity: 0;
    transform: rotate(540deg) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0);
  }
}

/* map markers */
.map-marker{
  position: absolute;
  filter: drop-shadow(1px 1px 4px #222);
  cursor: pointer;
}

.current-region > img{
  filter: drop-shadow(1px 1px 4px red);
}
.map-marker > aside{
  display: none;
  position: absolute;
  left: 2rem;
  font-size: 12px;
  white-space: nowrap;
  max-width: 200px;
  background: #333;
  color: white;
  padding: 5px;
}
.map-marker:hover > aside, .current-region > aside{
  display: block;
}
/* #marker-grm{
  top: 27rem;
  left: 23rem;
}

#marker-hdf{
  top: 23rem;
  left: 12rem;
} */

/*flex*/
.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
  .wiki-modal img{
    float: right;
    width: 20vw;
    padding-right: 1rem;
  }

}

/* mobile */
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  .talkbox{
    border-top: 1px solid white;
    width: 100%;
    left: 0!important;
    right: 0!important;
    bottom: -5px!important;
    height: 33vh;
  }

}
