<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../angular-animate.min.js"></script>
</head>
<body>
  <div class="glitch hacktheplanet" ng-controller="mainCtrl">
    <div class="container">
      <div ng-repeat="com in commands">
        <h2>{{com.status}}</h2>
        <p>{{com.text}}</p>
        <!-- <span>something else</span> -->
        <h5>{{com.timestamp}}</h5>
        <hr>
      </div>
      <div class="loader" ng-if="spin"></div>
      <form ng-submit="runComm(command)">
        <span>></span> <input type="text" ng-model="command" autofocus="on" name="" value="">
      </form>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
