<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../angular-animate.min.js"></script>
</head>
<body>
  <div class="glitch hacktheplanet" ng-controller="mainCtrl">
    <div class="container">         
       
       <form ng-submit="runComm(command)">
        <span>></span> <input type="text" ng-model="command" autofocus="on" name="" value="">
       </form>
       <div ng-repeat="com in commands">
         <h1>> Cool beans</h1>
         <h2>> Cooler beans</h2>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga neque quas iusto porro magnam, facilis nemo officiis, ducimus ea obcaecati necessitatibus autem dignissimos, distinctio sint commodi suscipit dolorem labore odio!</p>
         <span>something else</span>
         <h5>whatttt</h5>   
       </div>
       <div class="loader" ng-if="spin">
         |
       </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
