<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../carousel.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../ngTouch.js"></script>
  <script type="text/javascript" src="../../carousel.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="row">
      <div class="flex x3 relative">
  
        <ul rn-carousel>
          <li ng-repeat="place in destinations">
            <div class="relative">
              <div class="backdrop" ng-class="{'active-backdrop':checkActive(place)}" ng-click="setActive(place)">
                <img ng-src="{{place.Url}}" alt="">
              </div>
            </div>
            <div class="slide-card" ng-class="{'active-card':checkActive(place)}" ng-click="setActive(place)">
              
              <div class="content"  ng-class="{'hide-content':flight}">
                <h1>{{place.Title}}</h1>
                <p>{{place.Desc}}</p>
                <br>
                <div ng-repeat="flight in place.Flights" class="align jsb subset" ng-click="$event.stopPropagation(); setFlight(flight)" ng-class="{'active-subset':checkActive(place), 'active-flight':checkFlight(flight)}">
                  <b class="align">
                    <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                      <path fill="#000000" d="M21,16V14L13,9V3.5A1.5,1.5 0 0,0 11.5,2A1.5,1.5 0 0,0 10,3.5V9L2,14V16L10,13.5V19L8,20.5V22L11.5,21L15,22V20.5L13,19V13.5L21,16Z" />
                    </svg>
                    &nbsp;
                    {{flight.Airport}}
                  </b>
                  <span>{{flight.Departute}}</span>
                  <span>{{flight.Arrival}}</span>
                  <span class="align right">
                    {{flight.Price}}
                    <svg style="width:15px;height:15px" viewBox="0 0 24 24">
                      <path fill="#000000" d="M7,15H9C9,16.08 10.37,17 12,17C13.63,17 15,16.08 15,15C15,13.9 13.96,13.5 11.76,12.97C9.64,12.44 7,11.78 7,9C7,7.21 8.47,5.69 10.5,5.18V3H13.5V5.18C15.53,5.69 17,7.21 17,9H15C15,7.92 13.63,7 12,7C10.37,7 9,7.92 9,9C9,10.1 10.04,10.5 12.24,11.03C14.36,11.56 17,12.22 17,15C17,16.79 15.53,18.31 13.5,18.82V21H10.5V18.82C8.47,18.31 7,16.79 7,15Z" />
                    </svg>
                  </span>
                </div>
              </div>
              
              <div class="hidden-content" ng-click="$event.stopPropagation();" ng-class="{'show-content': flight}" >
                <div class="ticket">
                  <h3 class="align jsb">
                    <span>
                      Ticket
                    </span>
                    <span>
                      Boarding pass
                    </span>
                  </h3>
                  <div class="row" style="padding: 0.5rem;">
                    <div class="flex x2">
                      <p>FROM: {{flight.Airport}}</p>
                      <p>TO: {{active.Title}}</p>
                      <p>DEP: {{flight.Departute}}</p>
                      <p>ARR: {{flight.Arrival}}</p>
                    </div>
                    <div class="flex dots">
                      <p>NAME: <i>XXXXXX</i> </p>
                      <p>DATE: <i>XXXXXX</i> </p>
                      <p>GATE: <i>XXXXXX</i> </p>
                      <p>CODE: <i>XXXXXX</i> </p>
                    </div>
                  </div>
                </div>
                <div class="confirm fab" ng-click="$event.stopPropagation(); confirmed = true;" ng-class="{'confirmed':confirmed}">
                  <svg style="width:18px;height:18px;margin-left:-5px;" viewBox="0 0 24 24">
                    <path fill="#fff" d="M9.78,18.65L10.06,14.42L17.74,7.5C18.08,7.19 17.67,7.04 17.22,7.31L7.74,13.3L3.64,12C2.76,11.75 2.75,11.14 3.84,10.7L19.81,4.54C20.54,4.21 21.24,4.72 20.96,5.84L18.24,18.65C18.05,19.56 17.5,19.78 16.74,19.36L12.6,16.3L10.61,18.23C10.38,18.46 10.19,18.65 9.78,18.65Z" />
                  </svg>
                </div>
                <div class="confirm center">
                  <p ng-if="!confirmed">Please confirm</p>
                  <p  ng-if="confirmed">Confirmed! Have a nice flight</p>
                </div>
              </div>

            </div>
            <div class="gallery align jsb">
              <img tabindex="0" ng-repeat="pic in place.Gallery" ng-src="{{pic.Url}}" alt="">
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
