:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  font-size: calc(14px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  /* font-size: 16px; */
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
.right{
  text-align: right;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}

.backdrop{
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 33vh;
  z-index: -1;
  user-select: none;
  transition: var(--animation);
  transform-origin: top;
}
.backdrop > img{
  width: 100%;
  height: auto;
  transform-origin: top;
  transition: var(--animation);
  transition-delay: 0s;
}

.active-backdrop{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.active-backdrop > img{
  filter: blur(10px);
  transform: scale(5);
  transition-delay: 0.1s;
}

ul[rn-carousel]{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
ul > li{
  overflow-y: auto!important;
  overflow-x: hidden;
}

.slide-card {
  overflow: hidden;
  position: absolute;
  top: 20vh;
  left: 5rem;
  right: 5rem;
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
}

.gallery{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.gallery img{
  border-radius: 10px;
  outline: none!important;
  width: auto;
  height: 100px;
  margin: 0.5rem;
  transition: var(--animation);
}
.gallery img:focus{
  position: absolute;
  left: 0;
  right: 0;
  width: 200px;
  height: auto;
  bottom: 1rem;
  box-shadow: var(--leve2);
  margin: 0 auto;
}

.subset{
  opacity: 0;
  height: 0;
  padding: 0;
  transition: var(--animation);
  transition-delay: 0s;
  transform: translateY(100vh) scaleY(0);
}
.subset > b > svg{
  transition: var(--animation);
  transform-origin: center;
}
.subset:hover > b > svg{
  transform: rotate(90deg);
}
.active-subset{
  padding: 1rem 0;
  opacity: 1;
  height: auto;
  transition-delay: 0.4s;
  transform: translateY(0) scaleY(1);
  border-top: 1px solid #cccccc;
}
.active-flight{
  transform: translateX(110%);
}

.hide-content{
  transition-delay: 0.4s;
  transition: 0.4s all 1200ms cubic-bezier(.33,.11,.02,.99);
  transform: translateX(110%);
}
.hidden-content{
  transform: translateX(-110%);
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 1rem;
  bottom: 1rem;
}
.show-content{
  transition-delay: 0.4s;
  transition: 0.4s all 1200ms cubic-bezier(.33,.11,.02,.99);
  transform: translateX(0%);
}
.confirm{
  margin: 0 auto;
  margin-top: 4rem;
  transform-origin: center;
  transform: scale(0);
  transition-delay: 0.4s;
  transition: 600ms all 2s cubic-bezier(.33,.11,.02,.99);
}
.confirm::after{
  content: '_';
  font-size: 32px;
  color: transparent;
}

.confirm > svg{
  transform: scale(1.5);
  transform-origin: center;
  transition: var(--animation);
}
.show-content > .confirm{
  transform: scale(1);
}
.confirmed{
  transition-delay: 1s;
  background: rgb(120, 200, 0)!important;
}
.confirmed::after{
  content: '✔';
  transition-delay: 1s;
  transition: 600ms all 2s cubic-bezier(.33,.11,.02,.99);
  position: absolute;
  top: 1rem;
  color: white;
  left: 0;
  right: 0;
}

.confirmed > svg{
  filter: drop-shadow(0 2px 0.5px rgba(0, 0, 0, 0.6));
  margin-top: -3px;
  -webkit-animation: slide-out-elliptic-right-bck 0.7s ease-in both;
  animation: slide-out-elliptic-right-bck 0.7s ease-in both;
  animation-delay: 0.3s;
}

.ticket{
  overflow: hidden;
  border: 1px solid dodgerblue;
  background: skyblue;
  border-radius: 10px;
  position: relative;
  font-family: "Courier New", Courier, monospace;
}
.ticket > h3{
  margin: 0;
  padding: 0.5rem;
  background: dodgerblue;
  color: white;
}
.ticket i{
  color: transparent;
  background: rgba(0,0,0,0.3);
}
.dots{
  border-left: 7px dotted white;
  padding-left: 0.5rem;
}

/*flex*/
.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
.row {
  display: flex;
      display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex {
  flex: 1;
      -ms-flex: 1;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  /* .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  } */
  .slide-card {
    top: 15vh;
    left: 0;
    right: 0;
  }
}

.active-card{
  top: 5vh;
}

.active-subset:nth-of-type(1) {
  transition-delay: 0.4s; 
}
.active-subset:nth-of-type(2) {
  transition-delay: 0.5s; 
}
.active-subset:nth-of-type(3) {
  transition-delay: 0.6s; 
}

@-webkit-keyframes slide-out-elliptic-right-bck {
  0% {
      transform: scale(1.5) translatex(0px) translatey(0px)
  }
  50% {
      transform: scale(1.5) translatex(-10px) translatey(10px)
  }
  80% {
      transform: scale(1.5) translatex(200px) translatey(-200px);
  }
  99%{
    transform: scale(1.5) translatex(200px) translatey(-200px);
    opacity: 1;
  }
  100%{
    transform: scale(1.5) translatex(200px) translatey(-200px);
    opacity: 0;
  }
}
@keyframes slide-out-elliptic-right-bck {
  0% {
      transform: scale(1.5) translatex(0px) translatey(0px)
  }
  50% {
      transform: scale(1.5) translatex(-10px) translatey(10px)
  }
  80% {
      transform: scale(1.5) translatex(200px) translatey(-200px);
  }
  99%{
    transform: scale(1.5) translatex(200px) translatey(-200px);
    opacity: 1;
  }
  100%{
    transform: scale(1.5) translatex(200px) translatey(-200px);
    opacity: 0;
  }
}


/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

/*Card*/
.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
}

/*Fab*/
.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
}

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*random image + background*/
/*
background: url(https://picsum.photos/1400/1400/?random) no-repeat center center fixed;
background-size: cover;
*/
