<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
  <script type="text/javascript" src="../../angular-animate.min.js"></script>
</head>
<body>
  <div ng-controller="mainCtrl" class="stage">
    <div class="pre-game center" ng-if="!yourRole">
      <img src="logo.jpg" class="card-img" alt="" style="margin-top: -10px;">
      <div class="row setup">
          <h5 class="center">Setup</h5>
          <small>Generate role codes</small>
          <hr>
          <input placeholder="Number of players" type="number" name="" min="5" max="10" value="" ng-model="players" class="flex center">
          <button class="flex" type="button" ng-click="buildRoles(players)" name="button">Assign roles</button>
          <p class="center id-list" ng-repeat="role in finalRoles" ng-click="togg = !togg" ng-class="{'used': togg}">{{role}}</p>
      </div>
      <div class="row role" ng-if="finalRoles.length<1">
          <h5 class="center">My Role</h5>
          <small>Enter a role code to get a role</small>
          <hr>
          <input placeholder="Role code" type="text" ng-model="myRoleId" name="" value="" class="flex center">
          <button class="flex" type="button" name="button" ng-click="assignRole(myRoleId)">Enter Role</button>
      </div>
    </div>

    <div class="profile" ng-if="yourRole">
      <div class="profile-menu">
        <span class="center" ng-click="menuOpt = 'party'" ng-class="{'active':menuOpt === 'party'}">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#fff" d="M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M15.6,8.34C16.67,8.34 17.53,9.2 17.53,10.27C17.53,11.34 16.67,12.2 15.6,12.2A1.93,1.93 0 0,1 13.67,10.27C13.66,9.2 14.53,8.34 15.6,8.34M9.6,6.76C10.9,6.76 11.96,7.82 11.96,9.12C11.96,10.42 10.9,11.5 9.6,11.5C8.3,11.5 7.24,10.42 7.24,9.12C7.24,7.81 8.29,6.76 9.6,6.76M9.6,15.89V19.64C7.2,18.89 5.3,17.04 4.46,14.68C5.5,13.56 8.13,13 9.6,13C10.13,13 10.8,13.07 11.5,13.21C9.86,14.08 9.6,15.23 9.6,15.89M12,20C11.72,20 11.46,20 11.2,19.96V15.89C11.2,14.47 14.14,13.76 15.6,13.76C16.67,13.76 18.5,14.15 19.44,14.91C18.27,17.88 15.38,20 12,20Z" />
          </svg>
          <h5 style="margin:0;">Party</h5>
        </span>
        <span class="center" ng-click="menuOpt = 'role'" ng-class="{'active':menuOpt === 'role'}">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#fff" d="M19,19H5V5H19M19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M16.5,16.25C16.5,14.75 13.5,14 12,14C10.5,14 7.5,14.75 7.5,16.25V17H16.5M12,12.25A2.25,2.25 0 0,0 14.25,10A2.25,2.25 0 0,0 12,7.75A2.25,2.25 0 0,0 9.75,10A2.25,2.25 0 0,0 12,12.25Z" />
          </svg>
          <h5 style="margin:0;">Role</h5>
        </span>
        <span class="center"  ng-click="menuOpt = 'vote'" ng-class="{'active':menuOpt === 'vote'}">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#fff" d="M2.3,20.28L11.9,10.68L10.5,9.26L9.78,9.97C9.39,10.36 8.76,10.36 8.37,9.97L7.66,9.26C7.27,8.87 7.27,8.24 7.66,7.85L13.32,2.19C13.71,1.8 14.34,1.8 14.73,2.19L15.44,2.9C15.83,3.29 15.83,3.92 15.44,4.31L14.73,5L16.15,6.43C16.54,6.04 17.17,6.04 17.56,6.43C17.95,6.82 17.95,7.46 17.56,7.85L18.97,9.26L19.68,8.55C20.07,8.16 20.71,8.16 21.1,8.55L21.8,9.26C22.19,9.65 22.19,10.29 21.8,10.68L16.15,16.33C15.76,16.72 15.12,16.72 14.73,16.33L14.03,15.63C13.63,15.24 13.63,14.6 14.03,14.21L14.73,13.5L13.32,12.09L3.71,21.7C3.32,22.09 2.69,22.09 2.3,21.7C1.91,21.31 1.91,20.67 2.3,20.28M20,19A2,2 0 0,1 22,21V22H12V21A2,2 0 0,1 14,19H20Z" />
          </svg>
          <h5 style="margin:0;">Vote</h5>
        </span>
      </div>

      <div class="center" ng-if="menuOpt === 'enter'" style="padding:1em;">
        <b>Information</b>
        </br>
        <p>
          <b>Never show your role to anyone!</b>
          </br>
          Hide your screen from prying eyes and tap the <i>Role</i> icon to find out who you are.
        </p>
        ---
        <p>
          <b>Inspection</b>
          </br>
          If you are inspected, tap the <i>Party</i> icon and show it to the inspecting player.
        </p>
        ---
        <p>
          <b>Voting</b>
          </br>
          Tap the <i>Vote</i> icon and pick "Ja" or "Nein".
        </p>
        <p></p>
      </div>

      <div class="role-view center pad" ng-cloak ng-if="menuOpt === 'role'" >
        <div style="padding-top:5%;">
          <b>ROLE</b>
          <br>
          <p>Tap the square to see your role, make sure nobody is watching</p>
        </div>
      </br>
      </br>
        <img ng-cloak ng-if="yourRole === 'fascist'" src="f.png" class="card-img role-img" alt="">
        <img ng-cloak ng-if="yourRole === 'liberal'" src="l.png" class="card-img role-img" alt="">
        <img ng-cloak ng-if="yourRole === 'hitler'" src="h.png" class="card-img role-img" alt="">
      </div>

      <div class="role-view center pad" ng-cloak ng-if="menuOpt === 'party'" >
        <div style="padding-top:5%;">
          <b>PARTY</b>
          <br>
          <p>Tap the square to see this players party, then hide it again an pass it back.</p>
        </div>
      </br>
      </br>
        <img ng-cloak ng-if="yourRole === 'fascist' || yourRole === 'hitler'" src="fp.png" class="card-img role-img" alt="">
        <img ng-cloak ng-if="yourRole === 'liberal'" src="lp.png" class="card-img role-img" alt="">
      </div>

      <div class="pad center" ng-cloak ng-if="menuOpt == 'vote'">
        <b>VOTE</b>
        <br>
        <p>Tap one of the cards and show your coice when everybody is ready.</p>
        <img ng-cloak src="no.png" class="card-img" alt="" ng-hide="vote == 'yes'" ng-class="{'voted': vote == 'no'}" ng-click="vote = 'no'">
        <img ng-cloak src="yes.png" class="card-img" alt="" ng-hide="vote == 'no'" ng-class="{'voted': vote == 'yes'}" ng-click="vote = 'yes'">
      </div>

    </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
