<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="container">
      <div class="tile pointer" ng-class="{'block':tile.block, 'x':tile.state === 'X', 'o':tile.state === 'O',}" ng-repeat="tile in grid" ng-click="setState(tile)">
        {{tile.state}}
        <!-- {{tile.id}} -->
      </div>
    </div>
    <div class="center">
      {{msg}}
    </div>

  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
