<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../angularJs.js"></script>
</head>
<body>
  <div ng-controller="mainCtrl">
    <div class="row">
      <div class="flex">

        <div class="card">
          <div class="align">
            <input type="text" class="searchbar" ng-model="query" placeholder="Search here" name="" value="" ng-click="query=null" ng-change="searchy(query)" ng-init="searchy(records[0].name);">
            <div class="save" ng-click="add()" name="button">+</div>
          </div>
          <br/>
          <div class="frame-wrap" ng-click="$event.stopPropagation();">
            <iframe ng-if="query" width="560" height="315" ng-class="{'minim':mini}" style="margin:0 auto;"  ng-src="{{url}}" frameborder="0" modestbranding="1" fs="0" rel="0" allow="autoplay; encrypted-media"></iframe>
            <div class=" expander" >
              <svg class="remove" ng-click="mini = !mini" ng-class="{'rot':!mini}" style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#f5f5f5" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
              </svg>
            </div>
          </div>

          <div class="align ctrlRow" ng-if="records.length > 0">
            <b>Playlist</b>
            <span>
              <svg style="width:24px;height:24px" class="remove" viewBox="0 0 24 24" ng-click="clear()"  ng-touch="clear()">
                <path fill="#f5f5f5" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
              </svg>
            </span>
          </div>
          <br/>
          <ul class="playlist">
            <li ng-repeat="item in records" ng-click="searchy(item.name);" ng-touch="searchy(item.name);">
              {{item.name}}
              <div class="remove" ng-click="remove(item)">
                X
              </div>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="app.js"></script>

</html>
