:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 0.5rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*Quick start body*/
@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.svg#svgFontName') format('svg');
}

body{
  margin: 0;
background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%) fixed;
  background-size: cover;
  color: #cacaca;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
    -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  .card{
      width: 100%!important;
  }
}

.card {
  box-shadow: var(--level1);
  transition: var(--animation);
  width: 100%;
}

iframe{
  width: 100%;
  transition: var(--animation);
  padding-bottom: var(--spacer);
}
.frame-wrap{
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.8);
}
.expander{
  padding: var(--spacer);
}
.minim{
  height: 105px;
}
.rot{
  transform-origin: center;
  transform: rotate(180deg);
}

.head{
  background: #111;
  color: white;
}

.searchbar{
  font-size: 16px;
  width: 100%;
  color: white;
  margin: var(--spacer);
  text-align: left;
  background: transparent;
  outline: none;
  border: none;
}

.playlist{
  margin: 0;
  padding: 0;
}
.playlist > li {
  list-style: none;
  padding: var(--spacer) 5px;
  cursor: pointer;
  border-bottom: 1px solid #444;
  transition: var(--animation);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playlist > li:hover{
  padding: var(--spacer) 10px;
  background: #272727;
}

.ctrlRow{
  margin: 0 var(--spacer);
}

.remove{
  padding: var(--spacer);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  line-height: 25px;
}
.remove:hover{
  background: rgba(0,0,0,0.3);
}

.align{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg, .remove, li, .save {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.phone-wrap{
  background: rgba(0,0,0,0.8);
  width: 414px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
}
@media screen and (max-width: 415px) {
  .phone-wrap{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
