:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #d8dee6;
  font-family: 'Raleway', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 16px;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}

.stage{
  overflow-y: auto;
  overflow-x: hidden;
  border: 25px outset #444;
  border-left: 15px outset #444;
  border-right: 15px outset #444;
  max-width: 380px;
  height: 90vh;
  min-height: 480;
  max-height: 812px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  background-image: linear-gradient(to top, #909090 0%, #3d3d3d 100%);
  border-radius: 30px;
  box-shadow: var(--level3);
  transition: var(--animation);
}

.step-prev, .step-next{
  position: absolute;
  top: 50%;  
  color: white;
  padding: 1rem;
  opacity: 0.7;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}
.step-prev{
  left: 0;
}
.step-next{
  right: 0;
}

/* ng-animate */
.fade{
  transition:0.5s linear opacity;
}
.fade.ng-hide {
  opacity:0;
}

/*flex*/
.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  .stage{
    width: 100vw;
    height: 100vh;
    max-width: unset;
    margin: 0;
    border: none;
    border-radius: 0;
  }
}

.portrait{
  width: 100%;
  height: auto;
  transform-origin: top;
  transform: scale(1.5);
}
.characters{
  position: relative;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  /* padding: 1em; */
}
.name{
  position: absolute;
  left: 0;
  right: 1em;
  top: 0;
  text-align: right;
  z-index: 1;
  color: white;
}

.good{
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.evil{
  background-image: linear-gradient(to top, #955353 0%, #3f0909 100%);
}
.neutral{
  background-image: linear-gradient(to top, #909090 0%, #3d3d3d 100%);
}

.desc{
  position: relative;
  left: 0em;
  right: 0;
  top: 1em;
  text-align: center;
  z-index: 1;
  color: white;
}

.swap-animation{
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.swap-animation.ng-enter, .swap-animation.ng-leave {
  transition: var(--animation);
}
.swap-animation.ng-enter {
  transform: translateX(-100%);
  filter: blur(2px) brightness(0);
}
.swap-animation.ng-enter-active {
  transform: translateX(0);
  filter: blur(0px) brightness(1);
}
.swap-animation.ng-leave {
  transform: translateY(0) scale(0.8);
  filter: blur(10px);
  opacity: 0.5;
}
.swap-animation.ng-leave-active {
  transform: translateX(-100%) scale(0);
  filter: blur(1px);
  opacity: 0.5;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

/*Card*/
.card {
  background: rgba(0, 0, 0, 0.2);
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
}

.stats > div{
  margin-bottom: 1em;
  padding: 0.3em 0;
  border-bottom: 1px solid #999;
}

/*Fab*/
/*.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
}*/

/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*background*/
/*
background: url(http://lorempixum.com/1440/900/sports) no-repeat center center fixed;
background-size: cover;
*/
