:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

body{
  margin: 0;
  background: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  font-size: 14px;
}

*{
  position: relative;
  z-index: 1;
}

.align{
  display: flex;
  align-items: center;
}
.center{
  text-align: center;
}
.jsb{
  justify-content: space-between;
}
.jse{
  justify-content: flex-end;
}
.pointer{
  cursor: pointer;
}
svg, svg path, img{
  user-select: none;
}
.relative{
  position: relative;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.stage{
  width: 400px;
  height: 667px;
  background: white;
  margin: 0 auto;
  margin-top: 5vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: var(--level2);
}
.content{
  padding: 0 var(--spacer);
}
.hero{
  color: white;
  background: #7362d8;
  padding: var(--spacer);
  padding-bottom: 0.5rem;
  border-bottom-left-radius: 25px;
  transition: var(--animation);
  overflow: hidden;
  position: sticky;
  z-index: 10;
  top: 0;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.hero::after{
  animation: rotating 20s linear infinite;
  content: "";
  width: 240px;
  height: 240px;
  border-radius: 1000px;
  background: #ea8f6d;
  transform-origin: right center;
  position: absolute;
  top: -100px;
  right: -100px;
}
.hero::before{
  animation: rotating 60s linear infinite;
  content: "";
  width: 640px;
  height: 640px;
  border-radius: 1000px;
  background: #eeb8c8;
  transform-origin: top left;
  position: absolute;
  top: -200px;
  right: -200px;
}
.hero p{
  transition: var(--animation);
  font-size: 20px;
  line-height: 2.5rem;
}
.collapsed{
  height: 0;
  margin: 0;
  transform: translateY(-1000px);
}
.tab{
  font-size: 14px;
  width: 90px;
  text-align: center;
  margin: 0 5px;
  opacity: 0.6;
  margin-top: var(--spacer);
  padding-bottom: 0.5rem;
}
.mark{
  opacity: 1;
  border-bottom: 3px solid white;
}
.feed{
  line-height: 1.5rem;
}


@media screen and (max-width: 400px) {
  .stage{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
  }
}

/*Card*/
@keyframes slide-in-bck-top {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.card {
  animation: slide-in-bck-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.06));
  border-radius: 15px;
  position: relative;
  transition: all 150ms ease-in-out;
  background: #fff;
  padding: var(--spacer);
}
.card:nth-of-type(1){
  animation-delay: 0.2s;
}
.card:nth-of-type(2){
  animation-delay: 0.4s;
}
.card:nth-of-type(3){
  animation-delay: 0.6s;
}
.card:nth-of-type(4){
  animation-delay: 0.8s;
}


.feature{
  position: relative;
  background: #efd7bf;
  color: #404c64;
  overflow: hidden;
  margin: var(--spacer) 0;
}
.feature button{
  background: #7362d8;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  position: relative;
  z-index: 1;
}
.feature img{
  width: 150px;
  height: auto;
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 0;
}

.fab{
  margin: 0 auto;
  width:18px;
  height: 18px;
  padding:15px;
  border-radius:50%;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border: 6px solid rgba(255,255,255,0.3);
  box-shadow: var(--level1);
}
.fab svg{
  transform-origin: center;
  transform: scale(1.5);
}

.bar{
  border-radius: 1000px;
  position: relative;
  width: 6px;
  height: 100px;
  background: #e0e0e0;
  overflow: hidden;
}
.bar>div{
  position: absolute;
  top: 0;
  width: 6px;
  height: 100px;
  background: #7564d8;
  transition: 5s all ease;
}

.bar:nth-child(1)>div{
  top: 0px;
}
.bar:nth-child(2)>div{
  top: 0px;
}
.bar:nth-child(3)>div{
  top: 12px;
}
.bar:nth-child(4)>div{
  top: 16px;
}
.bar:nth-child(5)>div{
  top: 33px;
}
.bar:nth-child(6)>div{
  top: 77px;
}
.bar:nth-child(7)>div{
  top: 82px;
}
.bar:nth-child(8)>div{
  top: 88px;
}

.story img{
  height: auto;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
