* {
    box-sizing: border-box;
    position: relative;
    padding: 0px;
    margin: 0px;
}
html{
    background: black;
}
body {
    background-color: black;
    height: 100vh;
    font-family: 'Anton', sans-serif;
    overflow-x: hidden;
    font-size: 1em;
    color: white;
    font-style: italic;
}
header{
    width: 100%;
    text-align: center;
}
.token .debug-data .scored {
    display: block;
    position: absolute;
    width: 30px;
    top: 20px;
    left: 10px;
    font-size: 2em;
}
.token > section{
    color: transparent!important;
    user-select: none;
    background-size: contain;
    border-radius: 2px;
    transform: skewX(-8deg);
    border-radius: 5px;
}
#moves{
    font-weight: bold;
    margin: 0 auto;
    font-size: 3em;
}.move-meter label{
    color: white;
    position: relative;
    font-weight: lighter !important;
    left: 0;
    right: 0;
    text-align: center;
    font-family: arial;
    opacity: 0.8;
}
.move-meter{
    position: fixed;
    left: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.token0 > section {
    background: url('1.PNG') center center no-repeat;
    background-color: dodgerblue;
    width: 100%;
    height: 100%;
}
.token1 > section {
    background: url('3.PNG') center center no-repeat;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}
.token2 > section {
    background: url('7.PNG') center center no-repeat;
    background-color: #31313d;
    width: 100%;
    height: 100%;
}
.token3 > section {
    background: url('10.PNG') center center no-repeat;
    background-color: #6a9609;
    width: 100%;
    height: 100%;
}
.selected {
    background-color: #000;
}
.board {
    width: 100vw;
    margin: 0 auto!important;
}
.container{
    width: 100%;
    position: fixed;
}
@media screen and (max-width: 768px) {
    /* .board{
        padding: 1em 0 !important;
    } */
    /* .token{
        padding: 0!important;
    } */
    #modal{
        left: 0!important;
        right: 0!important;
    }
    #modal::after{
        bottom:3vh!important;
    }
    #combo{
        font-size: 80%;
    }
}
.hide {
    transform-origin: center;
    -webkit-animation: 1s hide;
    -moz-animation: 1s hide;
    animation: 1s hide;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes hide {
    0% {
        -webkit-transform: translateY(0) scaleY(0.9) scaleX(0.9);
        transform: translateY(0) scaleY(0.9) scaleX(0.9);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}
#combo{
    position: fixed;
    left: -100px;
    right: -100px;
    bottom: 25vh;
    text-align: center;
    padding: 1rem;
    transform-origin: center;
    font-size: 50px;
    color: white;
    opacity: 0;
    z-index: 100;
    pointer-events: none;
}
.tsh{
    text-shadow: 0px 3px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000, 1px 1px 0 #000;
}
@keyframes minorCombo {
    0% {
        transform: scale(2);
        filter: blur(2px);
        opacity: 0;
    }
    99% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 0;
    }
}
@keyframes megaCombo {
    0% {
        transform: scale(2);
        filter: blur(2px);
        opacity: 0;
    }
    99% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 0;
    }
}
.minor-combo{
    pointer-events: none;
    transform-origin: center;
    -webkit-animation: 2s minorCombo;
    -moz-animation: 2s minorCombo;
    animation: 2s minorCombo;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.mega-combo{
    pointer-events: none;
    transform-origin: center;
    -webkit-animation: 2s megaCombo;
    -moz-animation: 2s megaCombo;
    animation: 2s megaCombo;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#modal{
    background: url('https://images.vexels.com/media/users/3/138753/isolated/preview/86ae7f4aadd558a2c07be0c0c0ff11d6-child-open-jumping-silhouette-by-vexels.png') top center no-repeat;
    background-size: contain;
    position: fixed;
    left: 15%;
    right: 15%;
    top: 0vh;
    height: 80vh;
    bottom: 10vh;
    background-color: #902e17;
    font-weight: bold;
    z-index: 200;
    margin: 1rem;
}
.show-modal{
    display: block!important;
}
.show-modal > img{

}
.stars{
    text-align: center;
    padding: 0.5em;
    position: absolute;
    background-color: #f5f5f5;
    color: #364155;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    padding: 1rem;
    font-weight: lighter!important;
}
.spark{
    -webkit-animation: 2s spark;
    -moz-animation: 2s spark;
    animation: 2s spark;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    background-color: black;
}
#move-wrap{
    padding: 4rem;
}

@keyframes spark {
    0% {
        background: url('spark.gif') center center no-repeat;
    }
    100% {
        background: url('') center center;
    }
}
