:root{
  --animation: all 600ms cubic-bezier(.33,.11,.02,.99);
  --spacer: 1rem;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*Quick start body*/
@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.svg#svgFontName') format('svg');
}

body{
  margin: 0;
  background: #f8f2fc;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

/* ng-animate */
/* .fade{
  transition:0.5s linear opacity;
}
.fade.ng-hide {
  opacity:0;
} */

/* flex*/

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 23.94%;
}

.bottom-bar{
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  right: 0;
}

.stage-wrap{
  height: 100vh;
}

.container{
  background: white;
  margin-bottom: 80px;
}

.hero{
  background: #fde5e8;
  background: url('https://picsum.photos/1136/375/?image=465') center center;
  background-size: cover;
  height: 45vh;
  color: #666;
  position: relative;
}
.hero h1{
  font-size: 300%;
}

.hero input{
  background: transparent;
  border: 1px solid #666;
  padding:5px 15px;
  margin: 0 auto;
  outline: none;
  border-radius: 25px;
}
.hero svg path{
  fill: #666;
}


.title{
  position: absolute;
  bottom: var(--spacer);
  left: var(--spacer);
}

.psuedo-table-row{
  padding: var(--spacer);
  border-bottom:1px solid #e0e0e0;
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
}
.psuedo-table-row:hover{
  background: #f8f2fc;
}

.pad{
  padding: var(--spacer);
}

hr{
  opacity: 0.3;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  padding: 5px;
}
li:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.profile{
  padding: var(--spacer) 0;
  width: 100%;
  text-align: center;
}

.profile img{
  width: 75px;
  height: 75px;
  overflow: hidden;
  background-size: cover;
  border-radius: 50%;
}

.cover{
  background: #cacaca;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
}

.align{
  display: flex;
  align-items: center;
}

.justify{
  justify-content: space-between;
}

.flex{
  flex-basis: 100%;
}
.x3{
  flex-basis: 50%!important;
}
.x2{
  flex-basis: 25%!important;
}



/*fluid layout*/
/*
.fluid-row {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.fluid-flex{
  padding: 5px;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

@media screen and (max-width: 960px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(49%, auto))!important;
  }
}

@media screen and (max-width: 768px) {
  .fluid-row{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}
*/

/*Card*/
/*.card {
  background: #fff;
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
}

/*Fab*/
.fab{
    background:dodgerblue;
    width:18px;
    height: 18px;
    padding:15px;
    border-radius:50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: var(--level1);
    cursor: pointer;
}

.faded{
  background: #fff;
}

.album{
  width: 50px;
  height: auto;
  border-radius: 50%;
  animation-name: animation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation {
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}
/*Animation*/
/*@keyframes animation {
from {}
to {}
}
div {
animation-name: animation;
animation-duration: 4s;
} */

 /*warm gradiend*/
 /*
 background: linear-gradient(to bottom, #fd9981 0%,#ed5f85 92%);
 */

/*Slant*/
/*
clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
*/

/*background*/
/*
background: url(http://lorempixum.com/1440/900/sports) no-repeat center center fixed;
background-size: cover;
*/


@media screen and (min-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
        -ms-flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  .sidebar, .sidebar-mock{
    display: none;
  }
  .hero{
    height: 30vh;
  }
  h1{
    font-size: 150%!important;
  }
  svg{
    transform-origin: center;
    transform: scale(0.8);
    user-select: none;
  }
}
